[2014-06-13 15:38] simonc opened #8 "Feature Request: Selection Mode Toggling"
I know it's not part of the ST selection but having a way to toggle from block to normal selection when pressing `alt` (or a configurable key) would be just awesome :)

[2014-07-22 13:19] ajx-awebb opened #15 "Folded code before selection area breaks column selection"
![Imgur](http://i.imgur.com/PNHICFI.png)

[Gist](https://gist.github.com/ajx-awebb/ba2504a3c057e8845dfe)

[2014-07-31 05:06] mark-hahn opened #17 "Column mode "sticks""
I'm having an intermittent but frequent problem.  When I finish using column mode the selection sticks in column mode and I can't do normal selection.  It acts as if the alt-key is stuck down.  The only thing that fixes it is to select again with the alt key down although this takes several tries at times.

I saw the thread here about the mouse leaving the window but this problem happens when the

[2014-08-19 13:32] freshyill opened #21 "Incorrect cursor position with seti-syntax"
I'm having an issue with seti-syntax and [atom-sublime-select](https://github.com/jesseweed/seti-syntax/). When doing a vertical selection of text or individual multi-line selections, the selection is inserted to the right of the cursor.

The gif explains it pretty well.

![text selection](https://cloud.githubusercontent.com/assets/879292/3966606/f83e4770-27a4-11e4-8ca2-f95d6f3567f2.gif)

I'm post

[2014-10-17 21:02] gerane opened #25 "Not working in Atom 137 and 138 on Windows."
It just isn't working at all. Can't get the block selection to trigger.

[2014-10-23 07:57] romansCode opened #26 "Alt-selector in Linux moves windows"
It would be great if the Keybinding could be user changeable, as Alt with left mouse click in Gnome moves windows and block selection is not possible.

[2014-12-02 16:03] ngandriau opened #27 "selection should not take sub-lines from soft wrapping"
Hi this is a very nice extension, but I noticed that when soft wrapping is activated, the column selection will select sub lines.
I would appreciate if it would not or if there was a toggle to have both mode.

Thanks

[2014-12-10 15:38] pistou opened #28 "Not working on Windows 8.1 - Atom 0.155"
I have no idea why, but it's not working for me (WIndows 8.1 64bit)

I've tried with the "deprecated version" (https://atom.io/packages/SublimeSelect) and it works perfectly fine.

[2014-12-10 17:07] ahundt opened #29 "Not working on OS X 10.10.1 Atom Version 0.138.0 (0.138.0)"
I tried installing this utility twice but ran into the following errors.

first run:

    Installing “Sublime-Style-Column-Selection@1.1.3” failed.Hide output…
    Unable to download https://www.atom.io/api/packages/sublime-style-column-selection/versions/1.1.3/tarball: 503
    Searching for “sublime” failed.Hide output…

second run:

    Searching packages failed: <!DOCTYPE html>
        <html>

[2014-12-15 13:55] jann opened #30 "Uncaught Error: Passed an empty array to setSelectedBufferRanges"
Uncaught Error: Passed an empty array to setSelectedBufferRanges

**Atom Version**: 0.156.0
**System**: Mac OS X 10.10.1
**Thrown From**: [SublimeSelect](https://github.com/bigfive/atom-sublime-select) package, v0.4.2

### Steps To Reproduce

1. ...
2. ...

### Stack Trace

[code]

/cc @atom/core

[2015-01-01 21:48] ahundt commented on #29
yeah

[2015-01-08 00:29] GGillan opened #31 "Does Not Work - WIndows 7"
I have installed this on Atom in Windows 7, and it seems to not work at all. Using the Alt key while holding down left-button and dragging to select, selection occurs horizontally.

Edit to add: Atom version 0.168.0

[2015-01-09 10:02] jonnyhaynes commented on #31
Same for OSX 10.10. Looks like the latest Atom version 0.168.0 has killed it.

[2015-01-09 12:49] braver commented on #31
Jup, seems the Shadow DOM has killed this one. @bigfive any idea how hard it would be to fix?

[2015-01-09 15:40] GGillan commented on #31
@jonnyhaynes
I meant the name to imply that didn't work on Windows 7, since I presumed it was working for everyone else (Linux, et al). Obviously not true. But yesterday, even before you telling me that, I noticed the type in the title (WIndows instead of Windows) and edited the post to try and change the title - can't change the title.

I'll poke around and try again, but I think changing the tit

[2015-01-13 04:48] bigfive commented on #31
Wow. Yeah, just updated myself. Broken on Mac too. I'll have a look this afternoon.

[2015-01-13 05:18] bigfive commented on #30
Yep I can reproduce this sometimes. I'll just add a length check to the setSelectedBufferRanges call

[2015-01-13 05:19] #29 closed

[2015-01-13 05:20] bigfive commented on #25
Hmm. I guess this will be fixed when I implement configurable key options

[2015-01-13 09:25] bigfive commented on #31
@GGillan Please update to 1.2.2 and see if it works for you. It looks like atom rewrote a lot of the api recently.

[2015-01-13 10:24] jonnyhaynes commented on #31
@bigfive this is now fixed on OSX. Cheers.

[2015-01-13 15:27] GGillan commented on #31
*@bigfive*: No - just updated and tested - still does not work on Windows 7. Tried quitting and restarting Atom after the update to be sure. Also verified also verified that 1.2.2 is the version now loaded.

[2015-01-13 15:58] GGillan commented on #31
*@bigfive* Just an aside (there is no message or email feature in GitHub), I am unable to load the package at all on Windows 8.1. It seems that Atom has an old version of npm that GitHub no longer supports, and that version of npm barfs when trying to download an Atom package on Windows 8.1. I reported the issue to GitHub and was referred to report it to the Atom team (which I have).

So the point

[2015-01-15 11:29] armin77 opened #32 "Uncaught TypeError: Cannot read property 'getDOMNode' of undefined"
[Enter steps to reproduce below:]

1. tried to multi-row-select using middle-mouse-btn within a .md-file

**Atom Version**: 0.172.0
**System**: Mac OS X 10.10.1
**Thrown From**: [Sublime-Style-Column-Selection](https://github.com/bigfive/atom-sublime-select) package, v1.2.2

### Stack Trace

Uncaught TypeError: Cannot read property 'getDOMNode' of undefined

[code]

### Commands

[code]

### Confi

[2015-01-19 10:28] doobiwan commented on #31
Unfortunately I can confirm 1.2.2 does not work on Windows 8.1, Atom version 0.174.0.

[2015-01-22 07:42] sadovnychyi opened #33 "Missing cursor indicator"
In ST, cursor is visible on selected area, it makes it easier to detect the selected area.
![image](https://cloud.githubusercontent.com/assets/193864/5852153/18d9461a-a24d-11e4-947d-e89a1c841137.png)
No cursor in atom:
![image](https://cloud.githubusercontent.com/assets/193864/5852157/204a45d4-a24d-11e4-9841-96eac08a8db2.png)

[2015-01-22 13:30] #32 closed

[2015-01-26 10:06] vlouppe opened #34 "Split Panes don't work / sometimes raise errors"
This is how you can reproduce the bug :

1. open 2 files
2. split the screen with (View/Panes/Split Right)
3. try to select a column with ALT + Click, nothing happens

**Atom Version**: 0.175.0
**System**: Mac OS X 10.10.1
**Thrown From**: [Sublime-Style-Column-Selection](https://github.com/bigfive/atom-sublime-select) package, v1.2.2

### Stack Trace

Uncaught TypeError: Cannot read property 'get

[2015-01-26 22:10] ipaq3115 commented on #31
I think I fixed this problem. At least it worked on my machine. I put in a pull request but until then my fork is [here](https://github.com/ipaq3115/atom-sublime-select/tree/fix-on-windows)

[2015-01-27 11:29] rbu commented on #31
Also does not work for me on Linux x64.

Duplicate of #28 ?

[2015-01-28 05:31] gregmac commented on #31
I was also expecting alt+left on Windows, but this is not what this plugin does:

    inputCfg = switch os.platform()
      when 'darwin'
        key: 'altKey'
        mouse: 1
        middleMouse: true
      when 'linux'
        key: 'shiftKey'
        mouse: 2
        middleMouse: false
      else
        key: 'shiftKey'
        mouse: 2
        middleMouse: true

For me on Win 8.1, plugin 1.2.2

[2015-01-28 06:34] GGillan commented on #31
On your advice just checked middleMouse (a wheel/button on mine) on Windows 7 and it works fine.

[2015-01-28 16:45] gregmac commented on #31
Also worth noting that PR #35 fixes this (alt+left works in Windows).

[2015-01-29 08:27] bigfive commented on #31
Ah great, so this is definitely a mouse button issue. I'll add this in now

[2015-01-29 08:31] bigfive commented on #33
This is actually a sistemic issue of atom. Their selection implementation doesn't show end cursors.
I wont fix this.

[2015-01-29 08:31] #33 closed

[2015-01-29 08:32] bigfive commented on #31
Just released a patch including the new PR. Let me know if this helps guys as I don't have a windows machine to test on

[2015-01-29 08:33] bigfive commented on #30
@TouPye As far as I know this is fixed in the new version

[2015-01-29 08:33] #30 closed

[2015-01-29 08:34] TouPye commented on #30
Confirmed, I couldn't reproduce :+1:

[2015-01-29 08:35] bigfive commented on #21
I believe this is now resolved as I use a more native way of getting the character width. Can anyone confirm?

[2015-01-29 08:37] bigfive commented on #15
I'm closing this issue. I haven't heard of any others with the issue and I cant seem to replicate

[2015-01-29 08:37] #15 closed

[2015-01-29 08:46] bigfive commented on #25
Let me know if the latest patch helps. Its not configurable but it has more sensible windows key config

[2015-01-29 14:39] freshyill commented on #21
Seems to be working perfectly now, thanks!

[2015-01-29 14:39] #21 closed

[2015-01-30 02:54] GGillan commented on #31
Just downloaded and tested on the Windows 7 machine. I had to stop and start Atom to get it to work, but it now does work! BTW the middle mouse button click and drag also continues to work.

Thank you!

[2015-01-30 02:54] #31 closed

[2015-02-04 11:53] HKRnew commented on #28
Not work here to. Ubuntu 14.04, Atom 0.177.0

[2015-02-06 21:45] karai17 commented on #34
1. Middle-click to vertically select text
2. broke!

**Atom Version**: 0.177.0
**System**: Microsoft Windows 7 Professional
**Thrown From**: [Sublime-Style-Column-Selection](https://github.com/bigfive/atom-sublime-select) package, v1.2.3

### Stack Trace

Uncaught TypeError: Cannot read property 'getDOMNode' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[c

[2015-02-09 06:36] papermoon1978 commented on #25
Doesn't work for me either > version 1.2.3 on Windows 7 atom 177. Maybe the issue is because the alt key triggers the menu bar? When I change it to

 when 'win32'
    key: 'shiftKey'
    mouse: 1
    middleMouse: true

if works fine for me (when holding shift of course - but that's fine)

[2015-02-09 07:45] shena1983 opened #36 "not work well for Chinese characters"

[2015-02-25 09:32] MiquelAdell opened #37 "Uncaught TypeError: Cannot read property 'getDOMNode' of undefined"
[Enter steps to reproduce below:]
1. Column select using [ALT] + click

I can't see any more specifics to the situation.

The file where I'm selecting is 700 lines long.
I get the error from the moment I click I don't have to drag to get the error.

**Atom Version**: 0.182.0
**System**: Mac OS X 10.10.1
**Thrown From**: [Sublime-Style-Column-Selection](https://github.com/bigfive/atom-sublime-selec

[2015-02-25 23:31] dvlsg opened #38 "Dragging past last line extends selections to the right"
When using the multiple selection mouse dragging, if you drag underneath the bottom-most line, all selections will extend horizontally to the right, to the end of each line. In sublime, the width of the selection will remain dependent on the horizontal position of the mouse, even when the cursor is past the last line, and will not automatically extend to the end of the line.

Not sure if this is a

[2015-02-27 14:04] hinnerk opened #39 "Uncaught TypeError: Cannot read property 'pixelPositionForMouseEvent' of null"
[Enter steps to reproduce below:]

1. press `alt`
2. try to column-select

**Atom Version**: 0.184.0
**System**: Mac OS X 10.10.2
**Thrown From**: [Sublime-Style-Column-Selection](https://github.com/bigfive/atom-sublime-select) package, v1.2.3

### Stack Trace

Uncaught TypeError: Cannot read property 'pixelPositionForMouseEvent' of null

[code]

### Commands

[code]

### Config

[code]

### Insta

[2015-03-05 13:22] jberthet commented on #38
Hello,

Got a similar bug, it has effect when lines before or after the selection are empty.

You can see an example on the image below. The bug could be very annoying on real code editing.

![untitled_-_atom](https://cloud.githubusercontent.com/assets/2607906/6505425/5f00f91a-c342-11e4-9401-e5ef4680b290.png)

Atom version: 0.186.0
Package version: 1.2.3

Regards.

[2015-03-11 02:15] gkrawiec commented on #39
[Enter steps to reproduce below:]

1. ...press alt
2. ...try to column-select

**Atom Version**: 0.184.0
**System**: Mac OS X 10.10.2
**Thrown From**: [Sublime-Style-Column-Selection](https://github.com/bigfive/atom-sublime-select) package, v1.2.3

### Stack Trace

Uncaught TypeError: Cannot read property 'pixelPositionForMouseEvent' of null

[code]

### Commands

[code]

### Config

[code]

### I

[2015-03-15 08:13] karai17 commented on #39
This is an interesting bug, here is what happens to me:

1. I press ctrl+shift+M to view markdown preview of a markdown file
2. When I try to MMB-drag at the beginning of a row of text, it selects text several characters in (somewhere around 7 or 8)
3. I move the markdown file to the other view (I like to have my preview on the left and edit on my right)
4. When I try to MMB-drag, I get this error

[2015-03-17 19:55] Haacked commented on #28
Doesn't work for me either on Windows 8.1

[2015-03-19 21:38] Tedko opened #40 "First or last line selecting inconsistently when dragging in certain directions"
http://i.imgur.com/1TVfet3.gif

![untitled](https://cloud.githubusercontent.com/assets/6687437/6741547/5c568fd0-ce56-11e4-8fa2-a1b462b23f13.gif)

see the last 5seconds

[2015-03-21 15:19] benplumley commented on #39
I'm getting this only with a split pane editor. It says block-cursor is throwing this but the stack trace says otherwise.

1. Split the editor into left and right panels
2. Open a file in both panels
3. Alt-click in the left panel to start this package

**Atom Version**: 0.187.0
**System**: Microsoft Windows 8.1 Pro
**Thrown From**: [block-cursor](https://github.com/olmokramer/atom-block-cursor) p

[2015-04-09 16:35] h3rnan opened #42 "Warning: deprecated activationEvents - Atom v.0.190.0"
After installing the package I receive the following message:

#### Use activationCommands instead of activationEvents in your package.json Commands should be grouped by selector as follows:
[code]
Called 1 time
Package.getActivationCommands - `C:\Users\XXXXX\AppData\Local\atom\app-0.190.0\resources\app\src\package.js:764:9`
Package.hasActivationCommands - `C:\Users\XXXXX\AppData\Local\atom\app-0.

[2015-04-13 07:46] tesfabpel commented on #26
+1 for shift+right as it is in SublimeText...
Anyway, I've configured my DEs to move windows with the Win/Super key, so +1 to the configurable keybindings... :)

[2015-04-30 21:41] richpeniche opened #44 "Package.getActivationCommands is deprecated."
Use `activationCommands` instead of `activationEvents` in your package.json
Commands should be grouped by selector as follows:
[code]
[code]

[2015-05-04 16:05] apeacox commented on #44
+1

[2015-05-05 09:17] yuzhigang33 opened #45 "Package.getActivationCommands is deprecated."
Use `activationCommands` instead of `activationEvents` in your package.json
Commands should be grouped by selector as follows:
[code]
[code]

[2015-05-05 09:36] #45 closed

[2015-05-05 23:08] richpeniche opened #46 "Package.getActivationCommands is deprecated."
Use `activationCommands` instead of `activationEvents` in your package.json
Commands should be grouped by selector as follows:
[code]
[code]

[2015-05-06 17:11] jethrolarson commented on #40
I'm also getting this error consistently
OSX 10.9.5, Atom 0.188, sublime-style-column-selection 1.2.3

[2015-05-06 17:19] Tedko commented on #40
@jethrolarson
yes, for me alt-drag will cause this bug.

[2015-05-07 01:40] cruznunez opened #47 "Package.getActivationCommands is deprecated."
Use `activationCommands` instead of `activationEvents` in your package.json
Commands should be grouped by selector as follows:
[code]
[code]

[2015-05-07 02:30] bigfive commented on #40
Yep, I can reproduce this bug, thanks for the clarity @jethrolarson. I'll have a look at it today.

[2015-05-07 06:12] blaggacao opened #48 "Package.getActivationCommands is deprecated."
Use `activationCommands` instead of `activationEvents` in your package.json
Commands should be grouped by selector as follows:
[code]
[code]

[2015-05-11 14:46] transmogrifier opened #51 "Package.getActivationCommands is deprecated."
Use `activationCommands` instead of `activationEvents` in your package.json
Commands should be grouped by selector as follows:
[code]
[code]

[2015-05-15 02:21] cytsunny commented on #51
+1 Got the same problem too.
I am using Windows 7.

[2015-05-18 20:52] weshead opened #52 "Package.getActivationCommands is deprecated."
Use `activationCommands` instead of `activationEvents` in your package.json
Commands should be grouped by selector as follows:
[code]
[code]

[2015-05-19 09:57] beurdouche opened #53 "Package.getActivationCommands is deprecated."
Use `activationCommands` instead of `activationEvents` in your package.json
Commands should be grouped by selector as follows:
[code]
[code]

[2015-05-19 09:58] beurdouche commented on #53
Sorry for the duplicate, usually Atom is supposed to tell if there is already a Pull request ..
Closing

[2015-05-19 09:58] #53 closed

[2015-05-20 03:51] cytsunny commented on #52
I have got the same issue too.

[2015-05-20 10:45] ruanpetersen opened #54 "Package.getActivationCommands is deprecated."
Use `activationCommands` instead of `activationEvents` in your package.json
Commands should be grouped by selector as follows:
[code]
[code]

[2015-05-22 17:24] DatTran commented on #54
1+

[2015-05-22 21:27] jasonrudolph commented on #46
Duplicate of #42. Will be resolved if #43 is merged.

[2015-05-22 21:27] jasonrudolph commented on #44
Duplicate of #42. Will be resolved if #43 is merged.

[2015-05-22 21:28] jasonrudolph commented on #47
Duplicate of #42. Will be resolved if #43 is merged.

[2015-05-22 21:28] jasonrudolph commented on #48
Duplicate of #42. Will be resolved if #43 is merged.

[2015-05-22 21:28] jasonrudolph commented on #51
Duplicate of #42. Will be resolved if #43 is merged.

[2015-05-22 21:28] jasonrudolph commented on #52
Duplicate of #42. Will be resolved if #43 is merged.

[2015-05-22 21:28] jasonrudolph commented on #54
Duplicate of #42. Will be resolved if #43 is merged.

[2015-05-24 17:46] varemenos commented on #26
Be careful with the middle click in some Linux window managers, it performs copy/pasting

[2015-05-25 18:55] ligoore commented on #54
+1

[2015-05-26 10:20] LazerPanther commented on #54
+1

[2015-05-26 15:43] leopoiroux commented on #54
+1

[2015-05-27 12:17] X-G commented on #54
+1

[2015-05-27 16:15] benogle opened #55 "Deprecated Atom APIs will be removed June 1st"
Atom will no longer load this package after June 1st without changes. There is only one change required on the latest version of this package:

All you need to do is merge https://github.com/bigfive/atom-sublime-select/pull/50 and publish a new version.

Visit https://gist.github.com/benogle/6d09e295c84b717ef9b4 and search for your package name to see up-to-date deprecations.

See https://github.c

[2015-05-28 17:06] benogle commented on #55
Thanks so much for fixing this. The message in 1.2.3 was the most common deprecation message people were bumping into.

[2015-06-03 17:14] nolman commented on #26
It would be awesome to have a keybind for this so one wouldn't have to touch the mouse

[2015-06-03 20:35] kankaristo commented on #26
On Ubuntu (Gnome, but probably Unity too) a lot of these cause problems:
- `alt+click` moves the window
- `alt+shift+click` moves the window and "grabs" the edges of the screen and other windows
- `alt+middle-click` resizes the window
- `alt+right-click` opens the window's context menu
- Any other modifier with right-click opens Atom's context menu (apparently never reaches the package)

Like @var

[2015-06-05 03:13] poliu2s opened #57 "Package.getActivationCommands is deprecated."
Use `activationCommands` instead of `activationEvents` in your package.json
Commands should be grouped by selector as follows:
[code]
[code]

[2015-06-07 21:00] stevencombs opened #58 "Uncaught TypeError: Cannot read property 'matchesParams' of undefined"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 0.207.0
**System**: Mac OS X 10.10.3
**Thrown From**: [Sublime-Style-Column-Selection](https://github.com/bigfive/atom-sublime-select) package, v1.3.0
### Stack Trace

Uncaught TypeError: Cannot read property 'matchesParams' of undefined

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-06-14 02:48] kengz opened #59 "unstable cursor and selection"
1. It takes considerable effort to select columns; selection flips between adjacent columns.
2. Occasionally the cursor/selection jumps to a random line in file. Not sure what causes that.

[2015-06-18 09:24] vasyan commented on #59
I have same problem, but i don't know how it reproduce. It just happens after couple of days of work. My solution is - Cmd + Shift + P and type Window: Reload .

[2015-06-18 15:48] stephenpardy opened #60 "Failed to activate the Sublime-Style-Column-Selection package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.210.0
**System**: Mac OS X 10.10.3
**Thrown From**: [Sublime-Style-Column-Selection](https://github.com/bigfive/atom-sublime-select) package, v1.3.0

### Stack Trace

Failed to activate the Sublime-Style-Column-Selection package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-18 18:15] shaungrady commented on #39
[Enter steps to reproduce below:]

1. Hold middle mouse button and drag

**Atom Version**: 0.210.0
**System**: Mac OS X 10.10.3
**Thrown From**: [Sublime-Style-Column-Selection](https://github.com/bigfive/atom-sublime-select) package, v1.3.0

### Stack Trace

Uncaught TypeError: Cannot read property 'pixelPositionForMouseEvent' of null

[code]

### Commands

[code]

### Config

[code]

### Install

[2015-06-25 09:00] PierreGUI opened #61 "Failed to activate: Cannot read property 'eachEditorView' of undefined"
Steps to reproduce: open Atom editor

**Atom Version**: 0.211.0
**System**: Mac OS X 10.10.4
**Thrown From**: [SublimeSelect](https://github.com/bigfive/atom-sublime-select) package, v0.4.2

### Stack Trace

Failed to activate the SublimeSelect package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-26 20:59] jann opened #62 "Failed to activate the SublimeSelect package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.0
**System**: Mac OS X 10.10.2
**Thrown From**: [SublimeSelect](https://github.com/bigfive/atom-sublime-select) package, v0.4.2

### Stack Trace

Failed to activate the SublimeSelect package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-27 15:59] s2t2 opened #63 "Uncaught TypeError: Cannot read property 'pixelPositionForMouseEvent' of null"
[Enter steps to reproduce below:]

1. alt-click and drag down vertically

**Atom Version**: 1.0.0
**System**: Mac OS X 10.9.5
**Thrown From**: [Sublime-Style-Column-Selection](https://github.com/bigfive/atom-sublime-select) package, v1.3.0

### Stack Trace

Uncaught TypeError: Cannot read property 'pixelPositionForMouseEvent' of null

[code]

### Commands

[code]

### Config

[code]

### Installed

[2015-06-27 17:51] nemoDreamer commented on #60
:+1:

[2015-06-28 19:19] noscgag opened #64 "Doesn't work on Windows 7 or CentOS 7"
This is on Atom 1.0 with sublime-select 1.3.0.

I have the same version installed on OS X, Windows 7, and CentOS 7, with three different behaviors.

On OS X it seems to work just fine.

On CentOS 7 it doesn't work at all. Holding down the Alt key and dragging is the same as though Alt wasn't held down, i.e. it does a normal selection. Middle clicking is also the same -- no column select.

On Windo

[2015-07-04 18:27] kuschma opened #65 "Multiple selections don't work"
In sublime text I can add text to the selection by pressing ctrl and middle mouse key. This does not work in this plugin and it would be nice if you could add it.

![test](https://cloud.githubusercontent.com/assets/13118575/8509014/0d765e0c-228b-11e5-8570-90d43dc8d117.PNG)

[2015-07-07 14:47] mainameiz opened #66 "Improve the readme. Include default platform keys and how to configure"
Please add info to README of how it works

[2015-07-16 09:08] matteoipri commented on #64
Maybe the answer to the CentOS 7 issue is in the source code. I was curious of how this plugin was written and I found this in the first lines (from 3 to 23):

[code]

I don't know exactly how this works and why the author set different values for linux, but you can try to change those lines on your CentOS installation and give it a try.
Just my idea, since I'm using Atom just on OS X right now.

[2015-07-22 18:10] ksaff commented on #59
I've observed the second issue as well. While `Window: Reload` is a usable work-around, I've found some steps for reproduction:
- `Window: Reload` to start fresh
- Column select something on an open document to ensure it works
- "Preview" the document- I used markdown-preview, but I have a hunch it's caused by the resizing of the document panel with Soft Wrap on
- Close the preview
- Try column hi

[2015-07-31 14:41] siannopollo commented on #59
I was also able to reproduce this, much like @ksaff did, but I used the `rspec` package which opens a separate pane. As soon as that opened, the offset column selection began, and the normal behavior didn't return until I reloaded the window using the `Window: Reload` command.

[2015-08-01 14:18] Kerosene2000 commented on #63
:+1:

[2015-08-04 13:14] llagerlof commented on #63
When I installed this package(1.3.0) a few days ago it was working, now I am receiving this same error.

Maybe it's useful I tell this strange thing that happened when I tried to uninstall this package. When I uninstall the "atom-sublime-select", I tried to ALT-click-and-drag to verify if the error persist, but no, the error is gone and the column selection functionality worked! So I tried to rest

[2015-08-04 18:47] s-hiiragi commented on #36
It does not work well for Japanese characters too.

[2015-08-07 17:28] SlimeQ opened #68 "random pastes when selecting"
when using this multiselect, whatever is in the clipboard is automatically pasted to each cursor. i'm on ubuntu 14.04

update:

this is happening because middle click is mapped to paste by default... this is ridiculous behaviour. unsure how to change it

[2015-08-10 10:35] MartinMuzatko commented on #63
When this error is thrown, the vertical selection doesn't work in files of the same type (in my case: less files)
Restarting Atom temporarily fixes the problem.

[2015-08-10 17:23] austincummings commented on #68
:+1: having the same issue.

[2015-08-11 13:35] thinsoldier commented on #66
Yes please. The forum post that told me about it says to use alt+drag / option+drag but that does nothing.

There seems to be a default ability to make rectangular selections with the middle mouse button but I often use a trackpad that can't simulate a middle mouse button.

[2015-08-15 00:55] matt-della commented on #68
The middle mouse in Linux pastes whatever is highlighted, which means that using the middle mouse for something like this would cause major issues. Using your normal mouse button, if possible (I'm still figuring out how to do that), would fix it.

[2015-08-17 08:55] arielpontes opened #69 "Hardcoded trigger key (alt) conflicts with atom-ctags"
This is a problem that could be solved both on the `atom-sublime-select` or on the `atom-ctags` side (ideally both, god knows how many other conflicting packages exist out there). `alt+click` triggers a symbol search when ctags is enabled, so I can't select columns of text anymore. Ideally the key (or key combination) should be configurable. The solution I found for now was changing the source and

[2015-08-18 21:24] ricsdeol commented on #66
:+1:

[2015-08-26 15:20] ryanspice commented on #63
:thumbsup:

[2015-08-26 17:29] datnordstrom commented on #69
1+

[2015-08-31 22:10] charleswhchan commented on #64
See: Issue #26 for Linux keyboard/mouse combinations.

[2015-09-11 08:42] AndiDog commented on #66
Yes, it's not clear at all even when looking at the source. Tried on Ubuntu and shift + right-drag gives me the context menu while shift + middle-drag does vertical selection but then inserts the clipboard because that's what the middle mouse button does. So I still don't know how to use it.

[2015-09-11 12:59] vorg commented on #40
I'm getting the same bug also only when selecting to the left:

![9jhwv2swbp](https://cloud.githubusercontent.com/assets/171001/9815360/4bd7194c-588d-11e5-8d54-80674ec9442e.gif)

[2015-09-16 07:43] chrwi commented on #63
This also happens on my Windows 7 x64, Atom 1.0.11

[2015-09-16 20:27] infinityzx commented on #69
Same issue on linux, due to the "mnemonic" gtk feature, which even if forced to be disabled, still overrides the alt key in atom.
Would definitely help if you can change the trigger with something like CTRL+ALT+SELECTION or better let the user the option to bind any preferred key

[2015-09-30 17:33] bedge commented on #69
+1

[2015-10-06 16:58] pstrangwrzekle commented on #69
+1

[2015-10-08 21:50] elinxie opened #72 "How do I integrate this into atom?"
I have a .coffee file. How do I take what I pulled to getting the functionality to work?

[2015-10-15 12:33] durianskh opened #73 "Chinese characters"
can't select Chinese characters correctly

[2015-10-20 16:18] alexbet commented on #59
+1 Not very useful as in Sublime. Jumping all around and even unselects the selection. Very frustrating.

[2015-10-24 00:59] xplusplus commented on #63
Also getting on Server 2012 R2, Atom 1.0.19, expect Atom said it was being thrown from atom-material-syntax. My callstack and other info is on this thread: https://github.com/silvestreh/atom-material-syntax/issues/17#issuecomment-150710925

[2015-10-30 14:23] rubencaro commented on #69
+1, configurable if possible please

[2015-11-02 06:24] jgkim commented on #73
I also have this issue with other 2-byte characters such as Korean and Japanese.

[2015-11-03 05:57] jhealy86 commented on #68
Having this issue as well, and I think @matt-della has a good solution for it. Why is this package assigning a behavior to a key that already has a default behavior in that operating system? It really should be changed to be altKey by default.

[2015-11-03 06:02] matt-della commented on #68
@jhealy86 I realized that Linux systems often assign the alt key to move windows around the screen, so using the alt key would also be sub-optimal. However, I do believe that properly configuring either alt-shift or ctrl-shift to override the shift key behavior *should* work.

[2015-11-03 06:10] jhealy86 commented on #68
I just changed mine to ctrlKey, and you do lose Linux's multi-select with that, but I've honestly never used that feature, and Atom has other (better) ways to do it. So I think that's what I'm going to stick with.

[2015-11-14 17:51] tberne commented on #26
Can I suggest it to be mouse-independent?
In Eclipse there's a column mode (Alt + Shift + A). In this mode, if expand selection down using shift + down it creates the column selection.
Besides avoid mouse-related conflicts, it is so fast.

[2015-11-23 04:08] annarbt opened #74 "Alt+Drag doesn't select text"
Alt+Drag on text only moves the editor around and doesn't select any text. I'm on Ubuntu 14.04.

[2015-11-23 04:53] alexhicks commented on #72
If you're talking about making changes to a package have a read of: https://atom.io/docs/v1.2.3/hacking-atom-tools-of-the-trade

If you've pulled this package you will need to link it as a development package for your changes to override the installed package. You can do this by opening a terminal window and moving into your new directory and running `apm link --dev` then opening atom in dev mode

[2015-11-24 15:50] Nepoxx commented on #74
That's because the default functionality for alt+click is to move a window around in Ubuntu. Try disabling that.

[2015-11-25 06:36] JeOam opened #75 "sublime-style-column-selection cannot work properly after activate atom-html-preview pulgin."
I am using these two atom plugin simultaneously, but once i activate atom-html-preview,  sublime-style-column-selection cannot work properly

* sublime-style-column-selection 1.3.0
* [atom-html-preview](https://atom.io/packages/atom-html-preview) 0.1.13
* Mac OS X EI Capitain
* Atom 1.2.1

I have to restart atom to handle this problem.

[2015-11-30 04:39] annarbt commented on #74
that worked thanks!

[2015-11-30 04:39] #74 closed

[2015-11-30 12:38] moospit commented on #75
+1, I am having same issues with

* sublime-style-column-selection 1.3.0
* markdown-preview 0.156.0
* Windows 7 and Windows 10
* Atom 1.2.4

The selection works fine until the preview is opened. After that the selection only works on the end of lines and the viewpoint and selection marker *jumps* from the original point of selection.

Closing the markdown-prewiev doesn't solve this issue. For hand

[2015-12-09 04:46] mjs7231 commented on #69
+1 this is unusable on Linux until solved. :(

[2015-12-09 23:50] notno commented on #59
+1 on issue number 2

[2015-12-12 07:12] sonarism opened #77 "option shift arrow to select by words in multiple lines"
on mac

option shift arrow (Left/Right) selects by word
(option arrow is to move cursor by word)

but when i try the same command with multi line selected, it only selects the last one..

i use this a lot to recreate json, objects etc so it'd be helpful if someone can fix it.

[2015-12-17 15:51] timkelty opened #78 "Selecting column from bottom-left to top-right breaks cursor placement"
Results in cursor being placed on the line above instead of selection for the top line

![6a169f2886def0ba4639cda607c4fafa](https://cloud.githubusercontent.com/assets/18329/11874185/6ad7cb96-a4ac-11e5-9cf6-ebf767531448.gif)

Note: only happens if you drag **up** first. If you drag left first (and thus have a selection), it works fine.

[2015-12-17 18:33] diogosfs opened #79 "soft wrap"
My column selection is not working when soft wrap is on. It also do not work well when screen is spitted in two half with ctrl+k left.

[2015-12-22 12:15] gtaifu opened #80 "Shifted selection with markdown-preview-mode on in Windows 7"
I am writing a markdown file, which contains multiple lines. After I press ctrl+shift+m to open the **markdown preview mode**, when I press alt-key to select vertically, the cursor starts at a position 30 characters right to the mouse cursor position.
Some times, cursor may also appear several lines higher.

[2016-01-06 09:01] LeoToivio commented on #80
Can confirm, doesn't work for me either.

[2016-01-07 17:07] Gruntfuggly opened #81 "Selection seems to break after doing a Find in Project"
This package works fine for a while but then seems to go wrong. The highight disappears and the selected range seems to be in the wrong place?

It was driving me nuts, but I eventually worked out that it breaks after doing a Find in Project.

[2016-01-14 13:34] scott-vsi commented on #78
I see the same behavior if I drag from the top-right to the bottom-left as well. The cursor positions are no longer in the same column.

[2016-01-15 02:23] bigfive commented on #81
Hmm, I cant seem to reproduce this. Can you give me any more info on the steps required?

[2016-01-15 02:26] bigfive commented on #80
You mean when trying to select text in a markdown preview?
Yeah, the package only supports selecting text in an editor pane. What is the markdown preview package you are using, I'll see if I can make sure the package does even activate if you are using a markdown preview pane?

[2016-01-15 02:29] bigfive commented on #79
hmm looks like its trying to get the coordinate relative to the window, not the pane. I'll look into it

[2016-01-15 02:32] bigfive commented on #77
Thats a bug in Atom. This package doesn't add multiline selections to atom (that already exists), it just adds the ability to _create_ selections by dragging. Perhaps raise the issue with atom?

[2016-01-15 02:32] #77 closed

[2016-01-15 02:35] bigfive commented on #28
I don't have a windows box to test this on. Anyone else have a solution for this that could provide a PR?

[2016-01-15 02:36] bigfive commented on #36
Yeah this package only works for character sets / fonts whose characters are all the same width

[2016-01-15 02:40] bigfive commented on #39
I believe this issue is fixed in the new build. Since this PR was merged https://github.com/bigfive/atom-sublime-select/pull/70

[2016-01-15 02:47] bigfive commented on #59
@siannopollo The seperate pane issue is a duplicate of https://github.com/bigfive/atom-sublime-select/issues/34

Sounds like the unstable cursor position is to do with preview panes. I'll track that here https://github.com/bigfive/atom-sublime-select/issues/75

[2016-01-15 02:47] #59 closed

[2016-01-15 02:50] bigfive commented on #60
I believe this is fixed in the new release

[2016-01-15 02:50] #60 closed

[2016-01-15 02:50] bigfive commented on #73
Duplicate of https://github.com/bigfive/atom-sublime-select/issues/36

[2016-01-15 02:50] #73 closed

[2016-01-15 02:51] bigfive commented on #68
As noted, this was due to the way ubuntu pastes using middle mouse button. This is now configurable.

[2016-01-15 02:51] #68 closed

[2016-01-15 02:52] #72 closed

[2016-01-15 02:53] bigfive commented on #69
Keys are now configurable. thanks for your patience on this folks

[2016-01-15 02:53] #69 closed

[2016-01-15 02:53] bigfive commented on #61
I believe this is fixed in the new release

[2016-01-15 02:53] #61 closed

[2016-01-15 02:53] #62 closed

[2016-01-15 02:54] bigfive commented on #25
Keys are now configurable

[2016-01-15 02:54] #25 closed

[2016-01-15 02:54] bigfive commented on #26
Keys are now configurable

[2016-01-15 02:54] #26 closed

[2016-01-15 02:55] bigfive commented on #17
Is this now fixed for you? I can no longer reproduce the issue?

[2016-01-15 02:55] #17 closed

[2016-01-15 02:56] bigfive commented on #63
I believe this is fixed in the new version. Thanks for your patience on this folks

[2016-01-15 02:56] #63 closed

[2016-01-15 02:56] bigfive commented on #64
Keys are now configurable

[2016-01-15 02:57] #64 closed

[2016-01-15 02:59] bigfive commented on #66
A PR for the readme update would be fantastic. We now have more sensible defaults for linux and configurable keys, but you are correct, the default key combinations for each platform, and instructions on how to customise them should be in the readme

[2016-01-15 03:01] bigfive commented on #80
Duplicate of https://github.com/bigfive/atom-sublime-select/issues/75

[2016-01-15 03:01] #80 closed

[2016-01-15 03:01] bigfive commented on #75
Yeah, the package only supports selecting text in an editor pane. What is the markdown preview package you are using, I'll see if I can make sure the package does even activate if you are using a markdown preview pane?

[2016-01-15 03:02] bigfive commented on #58
I cant seem to reproduce this

[2016-01-15 03:03] bigfive commented on #57
there are no `activationEvents` in this package?!?

[2016-01-15 03:03] #57 closed

[2016-01-15 03:04] bigfive commented on #37
Hmm, I cant seem to reproduce this. Are you still having the problem?

[2016-01-15 03:05] bigfive commented on #38
I might be able to cancel all mouse events when dragging outside of the pane. That should stop this

[2016-01-15 03:05] #39 closed

[2016-01-15 03:07] bigfive commented on #78
This is a duplicate https://github.com/bigfive/atom-sublime-select/issues/40. I'll be concentrating on this for the next release

[2016-01-15 03:07] #78 closed

[2016-01-15 03:08] alexhicks commented on #81
@bigfive It's reproducible when you `Split Right` then go back to the original pane and try doing to a range select. I was looking into it last year and the origin of the pane seems to no longer be zero in the original pane.

![select-issue](https://cloud.githubusercontent.com/assets/7707452/12344436/1a9a0f9e-bb91-11e5-9d3e-8d68219e4649.gif)

[2016-01-15 05:25] gutmann opened #83 "Keyboard based selections"
I don't know if this is possible in atom or the sublime-select package, but in Textmate I rely heavily on using the keyboard to create multiple insertion points.  A block of text can be selected by holding shift then (e.g.) down arrow.  When you press option/alt Textmate turns that into a column selection.  This makes it really easy to get an insertion point at the same point on multiple lines.  F

[2016-01-15 05:28] gutmann commented on #83
Of course as soon as I post this I find ctrl-shift up/down arrow.  sorry, thanks for a great tool!

[2016-01-15 05:28] #83 closed

[2016-01-15 07:16] optimusama commented on #77
actually i've found a work around:
on mac go to setting end select Ctrl for Select Key Trigger

Ctrl + Opt + Shift + Arrow
works kind of like how sublime would work

Thank for suggestion. I might check with atom, too

[2016-01-15 08:28] MiquelAdell commented on #37
Nope, something fixed this but I can't know what or when because for a long time I stoped using [alt]+click+drag and used selection+[cmd]+[shift]+[L]

Thanks anyway!

[2016-01-15 14:37] bigfive commented on #81
Yep. I can reproduce the issue with Split panes. I'll be looking into that one. I assumed this one was different.

[2016-01-15 17:34] bigfive commented on #34
This should now be fixed in the latest release (v1.4.1)

[2016-01-15 17:34] #34 closed

[2016-01-15 18:21] bigfive commented on #75
I believe this should work with the new release

[2016-01-15 18:21] #75 closed

[2016-01-16 13:41] JeOam commented on #75
@bigfive Thank you so much, It works! :)

[2016-01-20 13:32] richarddewit commented on #26
Maybe a keeping a changelog is a good idea, I kept wondering why I couldn't do column selecting after updating. Had to search through the issues..

[2016-01-20 23:07] looterz opened #88 "No longer working with middle mouse"
After the latest update, I can no longer use this with my middle mouse button. Still works with alt, though.

[2016-01-21 00:19] hellgiver commented on #88
I had to roll back to 1.3.0 to get it working.  I tried 1.5.1, 1.5.0, and 1.4.0; all of them did not work with middle click or alt/option on mac (I checked settings every time).  I am using Atom 1.5.0-beta0.

[2016-01-21 02:15] bigfive commented on #88
To get middle mouse selection working, please use the following settings:

<img width="727" alt="screen shot 2016-01-21 at 10 15 02 am" src="https://cloud.githubusercontent.com/assets/633193/12469581/e829bcd0-c027-11e5-8104-901fc0ff4a73.png">

[2016-01-22 09:40] gtaifu commented on #75
@bigfive  Thank you! It indeed works!!

[2016-01-24 10:09] karai17 commented on #88
Disabling Key Trigger seems like an unsatisfying answer. I use both middle mouse and ctrl click all the time. Choosing between one or the other is not an option.

Being able to middle click and drag to select lines that are all in a row and being able to selectively click several lines not in a row are both very important use cases for this add-on. Please find a way to actually fix this.

[2016-01-25 10:05] bigfive commented on #88
If I understand your meaning, the plugin has never been able to "selectively click several lines not in a row". Though I think atom perhaps has/had support for that.

I'm happy to receive PRs on this though, or to work on it as a feature if it proves to be a popular request.

[2016-01-25 10:56] karai17 commented on #88
Hm. Looks like I was wrong, then. I assumed your add-on provided that functionality, not Atom proper. All right then, this actually fixes the issue. Sorry, and thanks!

[2016-01-25 12:19] #88 closed

[2016-02-05 04:06] afeld commented on #79
Sounds like the first issue may be the same as #27?

[2016-02-05 09:46] bixxid opened #89 "Can not handle multi byte characters, such as Chinese, Japanese, Korean"
Can not handle multi byte characters, such as Chinese, Japanese, Korean.

[2016-02-05 09:52] bixxid commented on #89
asdfsdsdfdfddd
ここの山道十
八曲がってこ
asdfasdadfewe
この水路串一連のこ
このそこのエク
スポートの山の東の西の
1234567890123456
多くの地方はすべて少しな
かったその回顧恐らく大乱
斗大乱斗動
くことがおっくうで労
働の二塁打
asdfsadfasdfegewewe

[2016-02-05 20:38] mscaff0 opened #90 "wrong behaviour on the opposite direction"
If you select moving the mouse down it works as expected, but if you move the mouse up, some times you end up with the last line (the upper one) selected in a different column or even the entire line selected.

[2016-02-11 01:40] alexchandel commented on #65
:+1: This please. The workflow is so simple: Opt+Drag to select a block; Cmd+Opt+Drag to append another block :+1:

[2016-02-11 01:41] alexchandel commented on #36
#89 related

[2016-02-23 15:55] brandt commented on #8
This would be great.

A common workflow with TextMate is to create a normal selection using `Shift + Arrow Keys` and then toggle a block selection by hitting the `Option/Alt` key.

[2016-03-02 18:54] hgoodman commented on #66
Another suggestion for the README...

I'm trying to understand the difference between this column select package and Atom's default column select (triggered by Ctrl+Alt on Windows). Any chance that could be added? Should this question be entered as a separate issue?

[2016-04-04 17:35] georgeredinger opened #92 "Forgets keybinding"
Ubuntu 16.04
1.6.0-beta7

Keybinding forgotten at startup (shift-left click)
visiting edit->preferences->packages
causes it to remember and the key binding kicks in and sublime-syle-column-selection then works.
till the next startup

[2016-05-04 09:09] fthebaud commented on #92
I noticed this really strange behavior too.

Sublime-style-column-selection 1.5.1
Atom 1.7.3
windows 8.1

I'm using the default keybinding (alt + shift-left click). The keybinding is not recognized until I open the settings page.

[2016-05-05 03:13] aditiapratama opened #97 "this.editorBuffer.getLastRow is not a function"
[Enter steps to reproduce below:]

1. Open the file
2. Pressing the shortcut will cause the error (I've tried with many combination as well)

**Atom Version**: 1.9.0-dev-4da23fd
**System**: "Fedora release
**Thrown From**: [Sublime-Style-Column-Selection](https://github.com/bigfive/atom-sublime-select) package, v1.5.1

### Stack Trace

Uncaught TypeError: this.editorBuffer.getLastRow is not a func

[2016-05-31 02:25] derwentx commented on #90
Perhaps this is related to this issue, but i noticed that when I selected text in the reverse (bottom to top, right to left) direction, the top line would flicker for me. OSX atom 1.74 / SSCS 1.5.1

[2016-06-03 02:35] #79 closed

[2016-06-03 02:35] #27 closed

[2016-06-03 02:59] alexchandel opened #98 "Glitch on "Esc->Select All", column selection won't go away"
### Steps to replicate:
1. Open a new tab
2. Type three lines, with the contents `1`, `2`, and `3` resp.
3. Use atom-sublime-select to select all three columns
4. Press `esc`, eliminating the selection
5. Press `Cmd+A` (or equivalent) to do the "Select All" command.
#### Expected:

The entire file is selected & highlighted with a single cursor, i.e. the normal "Select All" behavior.
#### Actual:

[2016-06-03 11:27] RyanZim commented on #40
@bigfive Wasn't this fixed by #93?

[2016-06-03 11:27] RyanZim commented on #90
@bigfive Wasn't this fixed by #93?

BTW, any idea when that will be released?

[2016-06-05 15:03] logista commented on #92
Yes, I've seen this too

Sublime-style-column-selection 1.5.1
Atom 1.7.4
Mac OS X 10.11.5

Using the default keybinding; not working until I visit the Settings page.

[2016-06-07 15:15] mairanteodoro commented on #97
Having the same issue here. Using Atom 1.9.0-beta0.

[2016-06-07 18:17] nickgal commented on #97
I got it working by changing `@editorBuffer.getLastRow()` to `@editor.buffer.getLastRow()` on these lines:
https://github.com/bigfive/atom-sublime-select/blob/master/lib/editor-handler.coffee#L96-L97

[2016-06-07 22:05] aditiapratama commented on #97
@nickgal that's great, I'll create patch for this

[2016-06-08 10:37] natostanco opened #100 "selecting right to left, the last row is unselectable"
Selecting top right, to bottom left. In the case the last line selected is the end of the document ( there are no `\n` ) the last line flickers and is unselectable.

[2016-06-08 16:14] mairanteodoro commented on #97
@nickgal That did the trick.

[2016-06-10 15:40] ajoslin103 commented on #97
+1 -- hope this fix is issued soon

[2016-06-10 18:29] fbatista commented on #97
👍also run into this issue, thanks for the fix!

[2016-06-15 19:28] ajoslin103 commented on #97
that fix doesn't work for me in the 1.9.0-beta version, it just stops the error -- Max OS X

[2016-06-16 03:33] JulianTonti opened #101 "Soft-wrapped lines cause highlight to breakdown."
I see there were two previous bug reports of this issue (closed), but it's back again.

Atom 1.8.0
OS X 10.11.5
atom-sublime-select: 1.5.1

Screenshot of the problem below. Wrapped lines cause improper highlighting and the highlight refuses to extend any further down than what is shown when dragged.

![image](https://cloud.githubusercontent.com/assets/120087/16104505/8f27dc7e-33b4-11e6-934d-30e266

[2016-06-19 06:14] xu4wang opened #102 "paste the selected block"
Is it possible to paste the selected block and **insert** it into the doc?

For example, I have the text below:
[code]
By pressing ALT, I selected the second coloum
[code]
And I paste it into the first line between char 3 and 4, I was expecting:

[code]
However, the text area changed to:
[code]

[2016-06-19 07:09] matt-della opened #103 "Uncaught TypeError: this.editorBuffer.getLastRow is not a function"
[Enter steps to reproduce below:]

1. Set mouse button to Left and key to Alt.
2. Attempt to select text using left mouse button while Alt key is held down.

**Atom Version**: 1.9.0-beta0
**System**: linux 4.6.2-1-ARCH
**Thrown From**: [Sublime-Style-Column-Selection](https://github.com/bigfive/atom-sublime-select) package, v1.5.1

### Stack Trace

Uncaught TypeError: this.editorBuffer.getLastRow

[2016-06-20 16:57] ben-alkov opened #104 "Package no longer does anything"
[code]

Clicking MMB does literally nothing:

[code]

Setting to

[code]

does nothing

_No_ mouse/key combo which I've tried triggers this package for me.

edit:
- FWIW, CTRL-MMB still works to change font size.
- Moving all custom config files aside doesn't help

[2016-06-20 20:31] ajoslin103 commented on #103
+1

[2016-06-21 07:02] Toreador78 commented on #104
Confirmed. It's the same for me, no combination works. I'm on a Windows machine and use version 1.5.1 with Atom 1.9.0-beta0

[2016-06-21 08:13] gnbl opened #105 "Optionally pad end of line with whitespace, manually set multiple carets"
Thanks for this! Two feature ideas:

The [Column mode in Notepad++](https://notepad-plus-plus.org/features/column-mode-editing.html) allows writing to multiple lines at the same column behind EOL by padding each line with whitespace once the selected column is being written to.
I find this very practical to add column-aligned parameter comments.
On the other hand, this does not select **at** the e

[2016-06-22 17:05] diogosfs commented on #104
I have the same issue with Atom 1.8.0 and package version 1.5.1.

[2016-06-24 03:46] matt-della commented on #103
I can also confirm that the bug persists regardless of which key is used as the trigger, including None. In addition, the selected mouse button makes no difference, so it is most likely a piece of functionality that was removed or changed in Atom. I'll try to investigate a little, but I'm not familiar with this project's code base.

[2016-06-24 20:00] ajoslin103 commented on #103
thanks!

[2016-06-24 20:54] dev-marco commented on #104
Confirmed here.
None of the combinations work.
Using version 1.5.1 with Atom 1.9.0-beta0 running on a Windows 10 x64.

[2016-06-27 20:11] merikan commented on #104
Same here :-(
Version: 1.5.1
Atom 1.8.0
Mac OSX : 10.11.5

[2016-06-28 02:29] MarkHerhold commented on #104
It worked out of the box for me. Same configuration as @merikan
Version: 1.5.1
Atom: 1.8.0
Mac OSX : 10.11.5

[2016-06-30 06:05] ace-han commented on #104
The same issue. I googled it which led me into thread

Version: 1.5.1
Atom: 1.9.0-beta0
Windows 7

[2016-07-14 16:08] fboleto commented on #103
+1 same issue, different key triggers or mouse buttons always triggers the same problem.

[2016-07-18 08:37] Evandar276 opened #106 "Selecting init sensitivity ?"
Hello, please can you add option to increase selecting sensitivity to sides? I have always problems to initiate select. Only way for me is to slowly drag cursor up. I used this feature in TextMate and it works great. It would be great to have an option to select for example 2 characters to left and right from cursor as some tolerance. PS.: I have OS X and MacBook Retina display, it could be proble

[2016-07-27 12:19] signalwerk commented on #90
@RyanZim @bigfive This was fixed by #93 but unfortunately the package is still on Version 1.5.1. If you wanna get the fix then you need to get it from the head (for example by doing: `apm install bigfive/atom-sublime-select`). then it works.

[2016-07-27 12:19] signalwerk commented on #100
@natostanco @bigfive This was fixed by #93 but unfortunately the package is still on Version 1.5.1. If you wanna get the fix then you need to get it from the head (for example by doing: `apm install bigfive/atom-sublime-select`). then it works.

[2016-07-27 12:20] signalwerk commented on #40
@RyanZim @bigfive This was fixed by #93 but unfortunately the package is still on Version 1.5.1. If you wanna get the fix then you need to get it from the head (for example by doing: `apm install bigfive/atom-sublime-select`). then it works.

[2016-07-27 13:13] #100 closed

[2016-07-27 19:22] leopiney commented on #103
+1 This is still happening in **Atom 1.9.0-beta1** using Sublime-Style-Column-Selection package **v1.6.0**

[2016-07-27 23:32] jdw1996 commented on #90
On both OS X and Ubuntu I was prompted to upgrade this package today, to version 1.6.0, and it fixed this issue on both OSes.

[2016-07-27 23:37] RyanZim commented on #90
@mscaff0 @bigfive Can you close as per @jdw1996?

[2016-07-27 23:40] aditiapratama commented on #103
this is still the same issue as in here #97 , and there's a fix here #99

[2016-07-27 23:40] signalwerk commented on #90
@bigfive @jdw1996 thank you for pushing versoin 1.6.0 today. works as well for me.

[2016-07-28 16:00] ajoslin103 commented on #103
+1 This is still happening in Atom 1.9.0-beta1 using Sublime-Style-Column-Selection package v1.6.0 -- on Mac OS X 10.11.6

[2016-07-29 08:28] Okoyl commented on #103
+1
1.9.0-beta0
Linux

[2016-07-30 11:10] signalwerk opened #107 "Selection of the end of lines"
If I'm at the end of a line and I try to select all the line endings I can do in Sublime Text the following:

![sublime](https://cloud.githubusercontent.com/assets/992878/17269938/8868f71e-5656-11e6-8a65-928dc001e6cd.gif)

But with this extension it feels broken:

![atom](https://cloud.githubusercontent.com/assets/992878/17269941/a46114a6-5656-11e6-92a8-9df7456dbdd5.gif)

Is that e regression? Hmm

[2016-07-30 14:20] morbius1st commented on #107
I have the same issue.
Version: 1.6.0
Atom: 1.8.0

[2016-08-01 13:13] PhiLhoSoft commented on #28
For the record, this works fine with Atom 1.x on various Windows boxes (7, 10) I tried it on.
Given the age of Atom 0.x, perhaps this bug can be closed... :smile:

[2016-08-01 19:43] ajoslin103 commented on #103
not fixed
+1 This is still happening in Atom 1.10.0-beta0
Sublime-Style-Column-Selection package v1.6.0
-- on Mac OS X 10.11.6

[2016-08-01 20:21] Haacked commented on #28
Hmm, didn't work for me on Atom 1.9 and Windows 10.

[2016-08-01 22:35] sashamorozov commented on #103
Same error.

**Atom Version**: 1.9.0
**System**: Mac OS X 10.11.6

### Stack Trace

[code]

[2016-08-01 22:39] javiayala commented on #103
Same error here.

Atom Version: 1.9.0
System: Mac OS X 10.11.4
Sublime-Style-Column-Selection package: 1.6.0

[2016-08-02 01:11] caionorder commented on #103
+1

[2016-08-02 09:54] Kungfoowiz opened #109 "Sublime style Column Selection does not work after Atom Update Version 1.9.0"
Hello,

After updating to Atom Version 1.9.0, I do not seem to be able to column select text anymore with the Sublime style column selection plugin.

It was very useful, could you please check what caused it to stop working and perhaps release a fix for it to work in the new Atom Version 1.9.0?

Thank you very much,
Edward

[2016-08-02 10:14] cbrnr commented on #109
This problem has already been reported in #103 I think.

[2016-08-02 14:12] yoojene commented on #103
+1 here as well, fine prior to update

Atom Version: 1.9.0
System: OSX 10.11.6
Sublime-Style-Column-Selection package 1.6.0

[2016-08-02 14:29] ozluy commented on #103
+1

Atom Version: 1.9.0
System: OSX 10.11.4
Sublime-Style-Column-Selection package 1.6.0

[2016-08-02 17:04] Tolmark12 commented on #103
+1

Atom Version: 1.9.0
System: OSX 10.11.5
Sublime-Style-Column-Selection package 1.6.0

[2016-08-02 17:14] electerious commented on #103
Posting the same information over and over again doesn't help anyone. I guess it's clear that atom-sublime-select has a problem with Atom 1.9. Use the subscribe button if you want to stay up-to-date.

[2016-08-02 18:34] brian-schick commented on #103
Sadly, still an issue in beta 1.10.0 (OSX 10.11.6, Sublime-Style-Column-Selection package 1.6.0)

[2016-08-02 22:13] paulpet commented on #103
+1

Atom Version: 1.9.1
System: OSX 10.11.6
Sublime-Style-Column-Selection package 1.6.0

[2016-08-02 22:32] jacquescrocker commented on #103
if you want an immediate fix without waiting for a re-release, just apply these updates to your local package, then reload: https://github.com/bigfive/atom-sublime-select/pull/99/files

[2016-08-02 23:08] ajoslin103 commented on #103
This worked for me on Mac OS X [latest] with Atom 1.10.0-beta0

Thank You !!!

[2016-08-03 00:03] caionorder commented on #103
don't work for me @jacquescrocker  :(

[2016-08-03 00:14] ajoslin103 commented on #103
@calonorder that same fix didn't work for me back in July and short of an updated Atom-Beta I can't say what's different on my machine that might matter.  (I was using the most up2date Atom Beta back then)

Except maybe my version of Node1  That was old back in July - I had to upgrade last month to get some other stuff (aurelia & webpack) working -- so maybe that was it.

Make sure your Node is th

[2016-08-03 06:22] wqhyw commented on #103
+1
Atom Version: 1.9.1
System: OSX 10.11.6
Sublime-Style-Column-Selection package 1.6.0

[2016-08-03 06:58] jagadeeshvarma opened #110 "selection not working"
Hi,

This feature worked till yesterday. But I don't know what happened it stopped working. I tried reinstalling the package and then Atom itself, still no luck. Please help.

Thanks
Jagadeesh

[2016-08-03 09:06] yoojene commented on #103
hotfix works thanks @jacquescrocker !
Atom Version: 1.9.1
System: OSX 10.11.6
Sublime-Style-Column-Selection package 1.6.0

[2016-08-03 15:03] #97 closed

[2016-08-03 15:04] bigfive commented on #103
Thanks for jumping on this everyone. PR merged and released

[2016-08-03 15:04] #103 closed

[2016-08-03 15:22] albireox commented on #110
I'm having a similar problem when I open Atom. If I then disable and re-enable atom-sublime-select it seem to go back to working fine.

[2016-08-03 15:41] tildebyte commented on #104
Can close fixed.
Atom 1.9.2 gold
atom-sublime-select 1.7.2
Win 10 Pro x64

[2016-08-03 16:30] Ingramz opened #111 "Selecting doesn't work for the first, already open editor"
1. Open up a document
2. Reload window
3. Cannot select until switched to a new tab

[2016-08-03 16:35] Ingramz commented on #107
It used to work before #93 was merged.

[2016-08-03 23:21] thegumbyman commented on #104
Confirming working again as above for:
Atom 1.10.0-beta1
atom-sublime-select 1.7.2
Win 10 Pro x64

[2016-08-04 02:14] lanceliu commented on #103
hotfix doesn`t work  @bigfive!
-------
Atom Version: 1.9.2
System: OSX 10.11.6
Sublime-Style-Column-Selection package 1.7.2

[2016-08-04 05:13] RishiKulshreshtha commented on #111
I'm using:

- atom v1.9.2
- atom-sublime-select v1.7.2

and its working totally fine at my end.

Please try to update your package https://github.com/bigfive/atom-sublime-select/releases/tag/v1.7.2

[2016-08-04 05:14] RishiKulshreshtha commented on #110
This seems as fixed in the current release:

I'm using:

- atom v1.9.2
- atom-sublime-select v1.7.2

and its working totally fine at my end.

Please try to update your package https://github.com/bigfive/atom-sublime-select/releases/tag/v1.7.2

[2016-08-04 05:40] Ingramz commented on #111
![sscs](https://cloud.githubusercontent.com/assets/1017132/17391439/c7d34e1a-5a1e-11e6-9c1a-4342827c59cc.gif)

[2016-08-04 06:40] jagadeeshvarma commented on #110
Updated atom-sublime-select v1.7.2 and it's working now.
Thanks @RishiKulshreshtha

[2016-08-04 06:40] #110 closed

[2016-08-04 10:08] votdev commented on #111
It does not work without restarting the atom editor, but after that it works as expected.

[2016-08-04 10:15] Ingramz commented on #111
Restarting the editor is equivalent to reloading. The first already-open document will not have the selection activated caused by [this change](https://github.com/bigfive/atom-sublime-select/commit/221f51fceeb3ff9892e36f5b14ad546961b5f3c7#diff-07f99ebd0dfd960505ba9c31fceb2ec1L65).

None of the observed events are triggered when the editor is opened.

[2016-08-04 14:19] fredwu commented on #103
@lanceliu It didn't work for me until I restarted Atom, have you tried restarting Atom? :)

[2016-08-05 02:05] lanceliu commented on #103
@fredwu Thanks, it works after restarted!

[2016-08-05 06:17] merikan commented on #104
Can confirm that it's now working.
Version: 1.7.2
Atom 1.9.2
Mac OSX : 10.11.5

[2016-08-05 19:25] mikeerickson opened #112 "Thank you, thank you, thank you!"
Thank you so much for creating this package.  It is a MUST HAVE and should be included as part of core package.

[2016-08-09 16:44] pratyushtewari commented on #107
Seems like a regression. It used to work before.

[2016-08-11 10:10] gauthier-delacroix commented on #109
@cbrnr These issues are supposed to be fixed by 1.7.2 but it still doesn't work for me on any 1.9.x version.

Tried to uninstall/reinstall the package, restart Atom, etc...still doesn't work just as if the package isn't installed...

[2016-08-11 13:08] cbrnr commented on #109
I'm on Atom 1.9.8, and the plugin is working (1.7.2)...

[2016-08-11 14:44] gauthier-delacroix commented on #109
Well, I've just tried disabling all other plugins and it's not better...I'll have to reset my config...

[2016-08-11 14:54] gauthier-delacroix commented on #109
Just renamed .atom folder to create a new one and the plugin works fine...just have to make my config again now :o(

[2016-08-11 15:11] gauthier-delacroix commented on #109
Ok, just understood my problem: When reinstalling the plugin before 1.7.2, my settings have been reset and I havent reset the select key to "None" since I only use the middle button...and I've since tried each of Alt and Middle button, but not both at the same time... Setting the key to "None" works as expected!

[2016-08-12 07:17] cbrnr commented on #109
So I guess this issue can be closed then.

[2016-08-12 08:02] jayveeee commented on #107
I have the same issue.
Version: 1.7.2
OS: Windows
Atom: 1.9.8

[2016-08-12 10:42] VoltairesPuppet commented on #109
FYI.  I am also experiencing this problem.  It is as if block select mode is never triggered, will attempt to investigate further if I can reproduce this on another instance of Atom + Package.

[2016-08-16 08:15] Kungfoowiz commented on #109
Setting the modifier key to None and then back to Alt fixed this for me as well.

Using Atom 1.9.8.

Weird how it started working again...

[2016-08-18 13:15] mattcodez commented on #109
Using Atom 1.9.7 and plugin 1.7.2, can't get it to work at all. Tried changing key options but no luck.

[2016-08-21 17:19] dimensi opened #113 "Select not work on end line and with softwrap"
My English is poor, I'll show you all the best in the pictures)
Compare'll be with **Brackets**.
1. **Atom**
 ![default](https://cloud.githubusercontent.com/assets/11390039/17838687/b11ba26a-67db-11e6-8229-f73c05461c22.gif)
Now **Brackets**
![brackets](https://cloud.githubusercontent.com/assets/11390039/17838695/e34adddc-67db-11e6-9104-31428c047982.gif)
Now bug with softwrap
**Atom**
![atom](https

[2016-08-23 18:56] fabioarantes89 opened #114 "Uncaught TypeError: editorBuffer.getLastRow is not a function"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.9.9
**System**: Mac OS X 10.11.6
**Thrown From**: [Sublime-Style-Column-Selection](https://github.com/bigfive/atom-sublime-select) package, v1.7.2
### Stack Trace

Uncaught TypeError: editorBuffer.getLastRow is not a function

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2016-08-24 08:11] idleberg opened #115 "TextEditor.module.exports.Object.defineProperty.get is deprecated."
`TextEditor.prototype.displayBuffer` has always been private, but now
it is gone. Reading the `displayBuffer` property now returns a reference
to the containing `TextEditor`, which now provides _some_ of the API of
the defunct `DisplayBuffer` class.

[code]

_PS: This issue was created automatically by Atom_

[2016-08-25 17:02] notacouch commented on #103
@jacquescrocker's hotfix works after restarting as well.

I'm on Atom 1.9.9, OS X Yosemite 10.10.5 and the package includes the hotfix as it is at v1.7.2. No idea why the code in lib/editor-handler.coffee was out of date.

[2016-08-29 07:11] gohonsen opened #116 "Uncaught TypeError: this.editorBuffer.getLastRow is not a function"
Press command + option key,  click the trackpad, it crashed:

Uncaught TypeError: this.editorBuffer.getLastRow is not a function

~/.atom/packages/atom-sublime-select/lib/editor-handler.coffee:92

[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.9.9
**System**: Mac OS X 10.9.5
**Thrown From**: [atom-sublime-select](https://github.com/bigfive/atom-sublime-select) package, vundef

[2016-08-29 15:17] olivertappin commented on #116
Updating and restarting Atom fixed this for me.

[2016-08-31 13:16] RyanZim commented on #40
A new version has been released, @Tedko @bigfive can you close?

[2016-09-01 15:05] VoltairesPuppet commented on #109
Is there an update log or something for Atom? I updated "script" plugin and possibly Atom and block selection has started working again.   Without knowing what was updated recently I am not sure if I can attribute it to something be "fixed" or just dumb luck.

[2016-09-08 19:40] jacquescrocker opened #117 "Busted behavior for really simple case"
When trying to remove a single indent space from a block...
![](https://cl.ly/0x2R3M0J4514/content)

This is with a fairly clean Atom install, using 1.10.1 and latest of atom-sublime-select

Let me know if I'm doing something wrong

[2016-09-09 14:48] hamicornfury opened #118 "Problem deleting start of line to wrap muliple lines into one line : TypeError: Cannot read property 'length' of undefined"
This error happens when I have a multiple cursors across many rows and the cursor is at the begining of the line and I delete. I am attempting to move all the rows into one row.  Only happens when cursor is at start of line.

/Applications/Atom.app/Contents/Resources/app.asar/node_modules/text-buffer/lib/text-buffer.js:873
Hide Stack Trace
TypeError: Cannot read property 'length' of undefined

[2016-09-19 12:53] lboff commented on #116
Atom 1.10.2 fully updated but the issue is still there

[2016-09-22 14:43] afkatja opened #119 "Not working with a wacom pen / tablet"
Tested with the mouse and the package works, but not with the Wacom pen.

Mac OS El Capitan
Atom 1.10.2

[2016-09-22 16:59] evermorian commented on #116
After updating and restarting, the error message went away for me but, it just didn't work after that.
I went into the package settings and changed the select key from alt to cmd. When I saw that worked correctly, I changed it back to alt, which then also worked correctly.

[2016-09-27 09:16] vujevits commented on #114
Cannot use the package because this issue still persists

[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.10.2
**Electron Version**: 0.37.8
**System**: Mac OS X 10.10.5
**Thrown From**: [sublime-style-column-selection](https://github.com/bigfive/atom-sublime-select) package, vundefined

### Stack Trace

Uncaught TypeError: this.editorBuffer.getLastRow is not a function

[code

[2016-09-28 01:25] Tedko commented on #40
@RyanZim Thanks. It can be closed now.

;)

[2016-09-28 08:18] AndrewFarley opened #120 "Skips empty lines when selecting the first line"
This plugin always skips empty lines, which honestly is fine and I can adapt to it for _most_ cases, but for some (such as building a bunch of indents for Python, or for an in-line comment block) I really need this functionality.

I really do like how it skips lines which don't have a character at the position you're trying to vertical select when doing the option-click, so that I can have nice wh

[2016-09-28 12:58] RyanZim commented on #40
@Tedko I can't close it, can you?

[2016-09-28 19:07] jd73 commented on #118
👍

[2016-10-01 11:28] WaKeMaTTa opened #121 "Uncaught TypeError: Cannot read property 'length' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.10.2
**Electron Version**: 0.37.8
**System**: Ubuntu 16.04.1
**Thrown From**: [Sublime-Style-Column-Selection](https://github.com/bigfive/atom-sublime-select) package, v1.7.2

### Stack Trace

Uncaught TypeError: Cannot read property 'length' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[2016-10-14 01:41] #40 closed

[2016-10-18 17:43] justinriddoch opened #122 "Feature stops working at bottom of long files"
This is the perfect tool for editing Latex tables, however I have noticed that when I am in large text files, after a certain point the feature no longer works. In the file I am currently working on, that point seems to be at line 126 or after 12552 characters.

[2016-10-26 19:04] StephenWeber commented on #116
I did the same process as evermorian above, the default was still set to Alt but I had to go to settings and select it for the key binding to work again.

[2016-10-31 17:57] ibmua opened #123 "AltGr"
On Windows Alt doesn't trigger a thing for me, only AltGr -- right Alt, which is very inconvenient.

[2016-11-03 18:23] jarednipper commented on #107
To others having this issue, a quick workaround is to comment out `editor-handler.coffee` line 120. `(if rowLength > @mouseStartPos.column or rowLength > @mouseEndPos.column)`

https://github.com/bigfive/atom-sublime-select/blob/master/lib/editor-handler.coffee#L120

I haven't experienced any side effects yet.

[2016-11-04 17:26] fbenavides69 opened #124 "vertical multiline insert behaves badly with autoindent when inserting tab"
When adding a tab for multiple lines, and there are several indents, adding a tab displaces the alignment from left to right, miss-aligning every thing.
![beforeaddingtab](https://cloud.githubusercontent.com/assets/4228155/20015522/2e0dfdd6-a292-11e6-86f2-6b2cc3b3e03c.png)
![afteraddingtab](https://cloud.githubusercontent.com/assets/4228155/20015539/3b9f4da6-a292-11e6-9589-a45e73e3ad81.png)

[2016-11-05 00:09] yagodlt opened #125 "Installation of package is not persistent"
Every time I launch Atom I get the message that it's installing this package. A few seconds later it gives me a success message and I can see it's installed because it's listed in the installed packages. This, however doesn't prevent it from being reinstalled next time I launch the app

[2016-11-05 17:12] lweingart commented on #114
Hi there,

This issue seems to still be posing problems.

Steps to reproduce: just alt+click in a text file.

**Stacktrace**
Uncaught TypeError: editorBuffer.getLastRow is not a function
/Users/lweingart/.atom/packages/sublime-style-column-selection/lib/sublime-select.coffee:90
Hide Stack Trace
TypeError: editorBuffer.getLastRow is not a function
    at _screenPositionForMouseEvent (/Users/lweinga

[2016-11-12 16:51] fabien commented on #119
@afkatja I'm experiencing something similar. Although it does work, the cursor gets stuck, or multiple clicks (on different lines) accumulate. A quick click on the regular mouse releases the stuck cursor(s). It's as if a regular click is registered as option-click sometimes, completely random.

Is this something you experienced? I've been searching the culprit of this behavior, and it looks like I

[2016-11-22 08:54] jeromegrosse commented on #107
I've been using the 'fix' mentioned by @jarednipper and I confirm that it fixes the issue.

[2016-11-23 16:53] DanFreed opened #126 "Deprecated calls"
Atom 1.13.0 beta 5 has deprecated TextEditor.prototype.displayBuffer.

sublime-style-column-selection (1 deprecation)
TextEditor.prototype.displayBuffer has always been private, but now it is gone. Reading the displayBuffer property now returns a reference to the containing TextEditor, which now provides some of the API of the defunct DisplayBuffer class.
TextEditor.get - /Applications/Atom Beta.a

[2016-11-28 01:06] elijahgagne commented on #107
I'm also seeing this problem with:
Version: 1.7.2
OS: Windows
Atom: 1.12.5

I'm not having luck with jarednipper's workaround. If I comment out just line 120, the package fails to load. If I comment out lines 120-122, column mode no longer works at all.

[2016-11-29 14:11] tomoat opened #128 "Can you increase the shortcut key support? Need mouse in Mac"
Can you increase the shortcut key support? Need mouse in Mac

example: cmd+option+down

[2016-12-02 04:42] alias1 opened #129 "Select end of line"
Currently, if I try to select at the end of the line (beyond the end of the line) it just doesn't select.

I can work around this by selecting the start of the line, then pressing the end key; but it would be nice to not have to.

[2016-12-05 11:03] rkranendonk opened #130 "Column selection with keyboard (no mouse) seems broken"
Used to be, I could use Shift-Alt-Arrow to make a column selection.
Not at the moment.

macOS Sierra 10.12.1, Atom 1.12.6, Column Selection 1.7.2

[2016-12-07 06:22] simplesteph commented on #129
+1
I'm expecting to click further after the end of the click using alt key, and dragging down, to select at the end of the line for multiple lines

[2016-12-07 06:24] simplesteph commented on #107
@jarednipper can you please do a PR so we can all benefit from it?

[2016-12-07 18:23] jarednipper commented on #107
@simplesteph I don't know enough about this project to know what this hack breaks. Also, a Windows user reported that it didn't help.

[2016-12-23 00:16] ozak commented on #128
+1

[2017-01-02 19:19] ThomasOrlita opened #131 "Feature request: Using find&replace with the selection"
Hello, it would be great to use find&replace with the selection. It works only with the first line.

[2017-01-07 00:58] mda6 opened #132 "Not working as expected when "Atomic soft tabs" is enabled"
just write couple of fore loops and try to select character by character - you will notice that where there is tabs (either spaces or tabs when Atomic soft tabs is enabled - atom-sublime-select will fail..

Atomic soft tabs is great feature.. maybe just ovveride the setting 'soft tabs' when the sublime-select is activated (and ofcourse turn back on after back on after you do your job)

[2017-01-08 14:01] mda6 commented on #132
I couldn't wait and i decided to hack the package - quick and dirty solution:
In the \...\.atom\packages\Sublime-Style-Column-Selection\lib\editor-handler.coffee
replace line 35 through 46 with

`
    softState == false
    if atom.config.get('editor.atomicSoftTabs')
      softState = true

    onMouseDown: (e) =>
      if @mouseStartPos
        e.preventDefault()
        return false

      if @_

[2017-01-11 04:49] bkeating opened #133 "Deprecated call: TextEditor.prototype.displayBuffer (Atom 1.13.0)"
I'm running Atom 1.13.0 which removes `TextEditor.prototype.displayBuffer`. Here's the error Atom spits out:

[code]

Invoking a block select now obviously crashes the package and atom. Not sure how to fix this myself yet, but thought I'd report it.

[2017-01-11 14:59] maksimu commented on #121
Same happened to me as well. Here is how I reproduced it:

typed number in column, selected all lines in the beginning and then hit Backspace button ('delete' button on Mac).

[2017-01-11 15:55] chartzoge commented on #116
Is this issue being looked into. This plugin hasn't worked for an extremely long time.

[2017-01-13 15:39] KevinNadaud commented on #133
I have this bug too since the update to 1.13.
I have sometimes crash of the editor in addition if this plugin is enable (I has no crash before th update).

[2017-01-16 10:41] kalsan opened #134 "Atom crashes when selection involves a shorter line"
Given a text of the form:
[code]
where I wrote `1` to represent characters present in all lines and `0` for denoting characters in lines that are longer than the lines just composed of `1`s, **Atom will crash** when selecting across `0`s.

In other words: The editor crashes when selecting across lines that are so short that they have no text under the selection cursor.

The bug was introduced in t

[2017-01-16 12:57] Xspirits opened #135 "Crashes the editor"
As the title says, it simply crash the entire editor when I try to do a simple multiline selection using defaults settings (Mac OS X, 2016 MacBook Pro)

[2017-01-17 23:56] bpjones commented on #135
This is likely caused by #133

[2017-01-17 23:58] bpjones commented on #134
Invoking this add-in using Atom >= 1.13 causes Atom to crash (caused by bug #133).  Your use case looks more specific though.

[2017-01-18 19:54] BenLeggiero opened #137 "Uncaught RangeError: Maximum call stack size exceeded"
1. hold <kbd>alt</kbd>
2. Click and drag

This does _not_ occur when Sublime-Style-Column-Selection is disabled

**Atom Version**: 1.13.0
**Electron Version**: 1.3.13
**System**: Microsoft Windows 10 Pro
**Thrown From**: [bracket-matcher](https://github.com/atom/bracket-matcher) package, v0.85.1

### Stack Trace
See complete **3MB** stack trace uploaded to Google Drive: https://drive.google.com/op

[2017-01-19 01:34] brandonforce commented on #133
I am having this issue as well, as of today. Is there a solution?

[2017-01-19 19:17] BenLeggiero commented on #137
This seems to be linked with trying to select a column on an empty line; it still works fine for me when I don't do that

[2017-01-21 22:17] j5scott opened #138 "alt-drag causes atom to crash. disabled other multi-cursor extensions also and still crashes"

[2017-01-24 09:15] monsieurnebo commented on #133
Same issue here, could you take a look please ? :)

[2017-01-24 17:54] jkdv commented on #133
Any ETA?

[2017-01-25 07:01] d4rkd0s commented on #137
![image](https://cloud.githubusercontent.com/assets/2348814/22280982/ce781ee0-e299-11e6-8dda-7ce9f942c5be.png)

[2017-01-25 07:02] d4rkd0s commented on #137
Only plugin installed was Sublime Column Style select. This started happening to me when I updated to Atom 1.13.0

[2017-01-25 07:04] d4rkd0s commented on #133
Also see #137 #138

[2017-01-25 08:39] srissel commented on #133
Is this addon still maintained?

[2017-01-25 08:41] monsieurnebo commented on #133
@srissel Last fixed issues & commits are 6 months old so ... It's doesn't seems so.

[2017-01-25 09:25] srissel commented on #133
It's a pity that there doesn't seem to be an alternative addon available.
Maybe someone could fork this one and take care of the deprecation?

I'd do this on my own, since often deprecations are not that difficult to
refactor. Unfortunately I'm not familiar with addon development for Atom....

2017-01-25 9:42 GMT+01:00 Cyril BONNET <notifications@github.com>:

[2017-02-01 19:40] jpwalters commented on #133
I'm still getting this error/warning message occasionally but at least with version 1.13.1 the editor is not crashing for me.

[2017-02-01 21:47] d4rkd0s commented on #133
@srissel I'm in the same boat as you. Would love to help, not sure how Atom Addon dev'ing works, and I wouldn't be the ideal person to re-maintain a project like this.

[2017-02-02 15:21] shdobxr commented on #133
Same boat as you all. Typically I can reproduce crashing when editing Json files and making vertical selections  where the vertical plane is not straight but with numerous indentations and spacing the JSON requires.

[2017-02-04 19:31] mjbrender commented on #133
I'm alongside you all. @bigfive, we're huge fans of your work on this plugin. Anything we can do to help this issue along (while also being unfamiliar with the code)? Thank you!

[2017-02-05 00:26] bkeating commented on #133
Is this an Electron-level change (deprecating displayBuffer?) I'm also
unfamiliar, but we can probably start to narrow it down a bit.

What other packages out there have had similar issue? Maybe we can examine
how they dealt with this deprecation.

On Sat, Feb 4, 2017 at 1:31 PM Matthew (Brender) Broberg <
notifications@github.com> wrote:

[2017-02-07 09:00] #126 closed

[2017-02-07 09:06] #133 closed

[2017-02-07 09:07] bigfive commented on #134
@kalsan can you please update and recheck your issue

[2017-02-07 09:07] bigfive commented on #135
Duplicate

[2017-02-07 09:07] #135 closed

[2017-02-07 09:08] bigfive commented on #137
I've just merged a fix for issues with 1.13 can you please update and recheck your issue

[2017-02-07 09:08] bigfive commented on #138
I've just merged a fix for issues with 1.13 can you please update and recheck your issue

[2017-02-07 09:26] kalsan commented on #134
Thanks for the fix! Cannot reproduce no longer. Closing.

[2017-02-07 09:26] #134 closed

[2017-02-07 20:32] Hazzard13 commented on #117
Not a fix to the package, but atom has a built-in shortcut for this. Make a selection, and the shortcuts are tab to add an indent to the block selection, and shift-tab to remove an indent. Which'll always be easier than doing it with column selection anyway.

[2017-02-08 17:01] KevinNadaud opened #139 "Cannot select is column after line 310"
I'm using atom-sublime-select and I noticed that I cannot select in column after the line 310. Does anybody have this problem to ?

I use atom 1.13.1 on linux mint 18 cinnamon edition.

[2017-02-08 19:11] d4rkd0s commented on #137
Looks like its working perfectly after updating! Tank you @bigfive 👍

[2017-02-08 19:12] d4rkd0s commented on #137
@BenLeggiero can you test after an update as well?

[2017-02-11 02:07] #137 closed

[2017-02-11 02:12] bigfive commented on #130
Hi @rkranendonk, The feature you describe (using your keyboard to make selections) is actually part of Atom, not part of this package. This package purely deals with multiline selections while dragging your mouse.

[2017-02-11 02:12] #130 closed

[2017-02-11 02:15] bigfive commented on #129
Not sure if I understand this one. Can you show a screenshot/gif of the issue or describe it in more detail?

[2017-02-11 02:18] bigfive commented on #128
Atom already has support for selecting multiple lines outside of this package. Default is `ctrl-shift-up` and `ctrl-shift-down`, which as you say interferes with mission control by default. You can edit this in your key map tho.
As I say, not part of this package tho, its part of Atom proper.

[2017-02-11 02:18] #128 closed

[2017-02-11 02:20] bigfive commented on #125
Sorry I'm only just getting round to look at this. Are you still having the issue? It seems to be pretty isolated. I would guess its something to do with your setup. Perhaps try uninstalling and reinstalling your atom app?

[2017-02-11 02:23] bigfive commented on #124
Sorry, this is a bug with how atom handles multiple cursors. This package just help placing the cursors, not the behaviour of them once created. Perhaps lodge a bug report in with Atom.

[2017-02-11 02:23] #124 closed

[2017-02-11 02:24] bigfive commented on #123
Sorry I'm only just getting to this.
Keyboard shortcuts are configurable as described in the readme. https://github.com/bigfive/atom-sublime-select/blob/master/README.md

[2017-02-11 02:24] #123 closed

[2017-02-11 02:25] bigfive commented on #139
Possible duplicate https://github.com/bigfive/atom-sublime-select/issues/122

[2017-02-11 02:26] bigfive commented on #122
Hmm. I'll look into this, it seems to have cropped up more than once. Perhaps its a limitation in atom to the number of simultaneous cursors/selection-sets

[2017-02-11 02:28] bigfive commented on #121
Confirmed as bug, can reproduce.
I'll fix this in the next release, thanks for the report. Sorry about the delay

[2017-02-11 02:31] bigfive commented on #120
Sorry, I'm only just getting around to this.
I cant reproduce this. Is it still an issue? Can you give detailed steps on what you do. Not sure what you mean by "option-clicking downwards on the first column"

[2017-02-11 02:33] #90 closed

[2017-02-11 02:35] bigfive commented on #98
This is an issue with the Atom handles multiple cursors (this package just helps create the selections/cursors not how they behave once created). Its worth lodging this issue with Atom.

[2017-02-11 02:35] #98 closed

[2017-02-11 02:36] #37 closed

[2017-02-11 02:36] #58 closed

[2017-02-11 02:37] #66 closed

[2017-02-11 02:38] bigfive commented on #102
I cant reproduce this. Any more information on this?

[2017-02-11 02:39] #104 closed

[2017-02-11 02:42] bigfive commented on #106
"increase selecting sensitivity to sides"
Not sure if I understand you. You mean it should (optionally) snap to the sides (ie the first column) if you are within a few characters of the side?

[2017-02-11 02:46] bigfive commented on #107
Yep definite bug. Thanks for the reports everyone. I'll fix this one in the next release

[2017-02-11 02:46] #109 closed

[2017-02-11 02:48] bigfive commented on #111
I cant reproduce this with the "first already-open document"

[2017-02-11 02:50] bigfive commented on #112
🙇
Happy to oblige. And I agree its definitely something that should have been part of the core, a must have for any editor in my book.

[2017-02-11 02:50] #112 closed

[2017-02-11 02:51] bigfive commented on #113
Duplicate https://github.com/bigfive/atom-sublime-select/issues/101

[2017-02-11 02:52] bigfive commented on #114
Fixed in recent release

[2017-02-11 02:52] #114 closed

[2017-02-11 02:52] bigfive commented on #115
Fixed in recent release

[2017-02-11 02:52] #115 closed

[2017-02-11 02:53] #116 closed

[2017-02-11 02:53] bigfive commented on #116
Fixed in recent release

[2017-02-11 03:06] bigfive commented on #117
I feel your pain.
This is an issue with the way atom handles multiple cursors when you have a mixture of spaces and soft-tabs. I don't think there is anything I can do in this package to help. Perhaps bring it up with Atom?

One work around is to create a column of cursors, option-right to the next non-whitespace character, go back one char, then hit delete. Like this:

![example-fix](https://clou

[2017-02-11 03:06] #117 closed

[2017-02-11 03:07] bigfive commented on #121
Duplicate of https://github.com/bigfive/atom-sublime-select/issues/118

[2017-02-11 03:08] bigfive commented on #118
Confirmed as bug, can reproduce.
I'll fix this in the next release, thanks for the report. Sorry about the delay

[2017-02-11 03:10] #138 closed

[2017-02-11 03:13] #38 closed

[2017-02-11 03:13] #28 closed

[2017-02-11 05:32] Evandar276 commented on #106
![sides](https://cloud.githubusercontent.com/assets/1587280/22851468/a9fc58f6-f022-11e6-9755-c5315131cc6e.png)

Look at the picture - now to init selection, you have to drag cursor exactly down or up (red line), but it is very hard! It would be nice to add sensitivity to to both sides (left and right) when dragging cursor (pink line). When I press the key (ALT), I want always start this selection.

[2017-02-11 10:26] KevinNadaud commented on #139
Yes it may be the same problem

[2017-02-11 10:33] KevinNadaud commented on #122
I noticed the number of line or characters vary. Moreover, if you collapse some environment (for me it is in LaTeX), it is possible to select at a higher number line. Maybe it depends on the display ?
I have tried with an other package (column-select) and it works in the whole document. Perhaps it relies on other mechanism ?
Nevertheless I prefer your plug-in @bigfive since it is usable with the m

[2017-02-11 15:27] yagodlt commented on #125
Hi @bigfive, thanks for looking into this.
Yes, the issue is still present. It seems to get install it every time I launch atom, but as a dependency of the 'sublime' package. I tried installing the stand alone package but the issue persists.
A not too useful pic:
![screenshot from 2017-02-11 16-20-50](https://cloud.githubusercontent.com/assets/3252061/22854857/2dc5d416-f076-11e6-83fd-5a892d8e6f3a.

[2017-02-11 21:03] alias1 commented on #129
Will try to describe, and if not, look into gif/etc.

So basically I want to be able to make a multi-line column selection, but instead of being at the start/in the middle of the lines, I want to do it at the end.

In sublime, if I 'draw' my selection line beyond the end of the text, it would put all of the cursors at the end of each line. Whereas that doesn't (or at least didn't when I raised thi

[2017-02-11 21:09] d4rkd0s commented on #137
Thx @bigfive  👍

[2017-02-14 05:29] bigfive commented on #129
Ah yep yep. I think this used to work but has regressed. I'll look into it

[2017-02-14 05:31] bigfive commented on #129
Related to https://github.com/bigfive/atom-sublime-select/issues/107

[2017-02-14 07:05] alias1 commented on #129
Awesome, thanks!

Get Outlook for iOS

On Tue, Feb 14, 2017 at 4:29 PM +1100, "Jonathan Williams (jdub)" <notifications@github.com> wrote:

Ah yep yep. I think this used to work but has regressed. I'll look into it

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-02-14 15:11] KamodaP opened #140 "Settings do not appear"
Hi,
I wasn't able to use atom's package manager, so I downloaded your source and put it in the packages folder. Package was detected allright and works fine, but settings do not appear anywhere :(

[2017-02-14 22:35] alexchandel commented on #98
This actually seems to be fixed in 1.14.1

[2017-02-15 03:57] BenLeggiero commented on #137
This seems to have been fixed in Sublime-Style-Column-Selection 1.7.3 on Atom 1.14.2

[2017-02-22 13:24] YongLiedu commented on #122
Enable/Disenable soft wrap (View -> Toggle soft wrap) also can change the line it happens at, similar to collapsing/expanding @KevinNadaud mentioned.

[2017-03-12 10:12] aaranmcguire commented on #107
So, I've just attempted @jarednipper's fix and found some undesired behaviour:

Before:
[code]

After:
[code]

I've found this causes highlighting of lines that should not be selected (easier to show than explain).

Before (Notice Line 6 + 8 are not selected):
<img width="258" alt="screen shot 2017-03-12 at 10 04 12" src="https://cloud.githubusercontent.com/assets/1158370/23830844/e3c1f74e-070b-11

[2017-03-13 12:20] bigfive commented on #107
Hey everyone.
Ive just released a patch for this. Please let me know how you go.

[2017-03-13 12:20] #107 closed

[2017-03-13 12:21] bigfive commented on #129
Ive just patched this. Let me know how you go

[2017-03-13 12:21] #129 closed

[2017-03-15 10:54] aaranmcguire commented on #107
I guess its fixed in that you no longer need to do the workaround, but you still have the issue I mentioned above. - It won't affect many people, but  it would be a nice feature to maintain.

[2017-03-16 14:15] SkrackStdusr opened #141 "Kept installing on startup"
Every time I opened Atom, the package loaded a little window (on the top-right of the screen) which said "installing the package" and package installed. Then it disappeared, and appeared next time I loaded Atom.

[2017-04-09 18:49] dsjstc opened #142 "Only works with LMB (left mouse button) on Linux"
Identical configuration works as expected on Windows, but on Ubuntu 16.10, the MMB and RMB do not work with any modifier key.

MMB: selection is closed immediately upon releasing the button.
RMB: always opens context menu whether or not a modifier key is down.

[2017-04-25 09:22] Siguza commented on #122
I've been experiencing this as well, but it seems to be related to wrapped lines rather than the length of the file (note: even with soft wrapping off, long lines will eventually wrap). This might also be related to #101, but it's definitely a bug.
Here is a test case file:

[code]

Try vertically selecting the `0x...` at the top and at the bottom. Top works for me, bottom doesn't.

Atom 1.16.0, a

[2017-04-26 22:21] Ingramz commented on #111
Interesting, I did not see your reply.

I just tested this on both mac and windows, clean Atom installs, both have this issue.

I'll try explaing again:
Have two files text documents open in a single editor window and nothing else in a configuration that can be seen from the gif (no split panes etc). Next restart the editor with keyboard shortcut or using menu (View->Developer->Reload Window). Now

[2017-05-02 02:16] jchook opened #143 "Strange highlight effect in the gutter"
This usually happens when my cursor passes into the file area. Increasingly lighter blocks appear next to the line numbers, and remain until I close the file.

![screen recording 2017-05-01 at 10 12 pm](https://cloud.githubusercontent.com/assets/193530/25601671/c589da6c-2ebb-11e7-8d75-7f369c92871b.gif)

[2017-05-04 05:59] ZGainsforth commented on #102
I get this too.  I can send a video of it happening if it helps.

[2017-05-10 12:17] brot14 opened #144 "can't select line >473"

[2017-05-26 17:32] littleraskol opened #145 "Unable to column select past line in YAML files"
When editing .yml files, I seem unable to column select past a certain line. Which line seems different for every file but it is usually about 2/3 of the way through the file. Attempts to column select past this point will result in the cursor being stuck at the end of the "border" line.

[2017-06-20 15:56] gmx321 opened #146 "About bytes of Chinese character"
In package 1.7.4, the bytes of Chinese character is 1, could you set it as 2 ? Thanks.

[2017-07-10 14:34] wdanilo commented on #143
Havin the same issue. It is very annyoing because it does not disappear. Is there a way to fix it?

[2017-07-13 05:02] snow212-cn opened #147 "Something wrong when I select >600th lines"
When I select after 600th lines, the cursor will jump 30 lines before, every time. This almost drives me dead. And I wonder whether the author no longer breathes or has already given up this thing.

[2017-07-14 21:19] thiagola92 commented on #140
Appear after closing and opening atom

[2017-07-17 13:11] gingerbeardman opened #148 "Example of writing a plugin to cope with multiple selections?"
As it is every plugin I've used that operates on a selection replaces all selections with the results of its work on the first selection.

[2017-08-15 12:44] Haratsu commented on #8
I really would appreciate a keyboard only support like this. As mentioned by @atilacamurca IDEs use a shortcut to toggle (e.g. Eclipse Alt+Shift+A) between selection modes, whereas Notepad++ for example allows block selection using Alt+Shift+Arrows keys

[2017-08-16 02:56] qubist opened #149 "Feature Request: macOS change cursor to a plus when in column editing mode."
In some programs on mac (and in TextMate for example) when using column selection a "plus" cursor appears. It seems this is standard on Mac. Could you add this in this Atom package?
<img width="448" alt="untitled" src="https://user-images.githubusercontent.com/3607279/29345437-b3e0d474-81f3-11e7-8a0b-6f654612c0f7.png">

[2017-08-17 09:48] jessicafndez opened #150 "Cannot read property 'getDomNode' of undefined"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.19.2 ia32
**Electron**: 1.6.9
**OS**: Microsoft Windows 10 Home
**Thrown From**: [hyperclick](https://github.com/facebooknuclide/hyperclick) package 0.0.40

### Stack Trace

Failed to activate the hyperclick package

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2017-08-17 10:16] #150 closed

[2017-08-22 12:44] dkyleward commented on #102
Thanks @ZGainsforth. I was trying to paste columns from excel into atom and it wasn't working. I pasted to atom (new, empty document), and then used this package to copy into my main document's column and it worked.

[2017-08-24 11:36] stakaz commented on #122
Hello, same things happen to me with atom 1.18 and the actual version of the plugin. I have noticed the following: the selection works in the section of the editor where the shown number of the line is less or equal to the true line number of the file. This is why using the soft wrap or folding the number of the last line where you can select with the plugin varies. I have an example:

[code]

In

[2017-10-04 03:09] entrptaher commented on #125
Bump for the issue, @yagodlt
You can see that the package is installed, but it's just asking for this again. Do you think this is a problem with sublime package instead?

![screenshot at 2017-10-04 09-07-18](https://user-images.githubusercontent.com/8284972/31158448-af82b228-a8e3-11e7-93e5-15526aa1fd18.png)

[2017-11-21 10:32] qubist commented on #144
Does turning soft-wrap off fix this? It did for me, but with soft wrap on I can't select anything after line 218. Atom 1.22.1

[2017-11-30 13:24] Ketouem commented on #142
I got the RMB issue on macOS High Sierra.

[2017-12-05 22:55] ghoetker opened #151 "Error when installing"
Hi. Trying to install on 1.23.0-beta1 on MacOS 10.13.1.  Getting the following error. Please let me know if I can provide additional error.  If issue is that I'm using a beta version, I totally get it.  Thanks!

[code]

[2017-12-13 20:01] sleeve commented on #151
Seeing the same issue on Atom 1.23.1 x64 on MacOS 10.13.2.

[2017-12-13 20:28] ghoetker commented on #151
Oddly, installation from the command line via `apm` seems to work just fine.

[2017-12-14 11:03] garethallenstringer commented on #151
I am having the same issue in which I cannot install on Atom version 1.23.1 x64 on Windows 10

@ghoetker I also can't install with apm either

[2017-12-14 14:35] montykamath commented on #151
I have the same problem.  1.23.1 on MacOS 10.13.1.  I cannot install via the Ui or apm.  Same error in both places.

[2017-12-17 14:25] FrankSong28 opened #152 "Installing “Sublime-Style-Column-Selection@1.7.4” failed"
Installing “Sublime-Style-Column-Selection@1.7.4” failed.Hide output…
(node:29981) [DEP0022] DeprecationWarning: os.tmpDir() is deprecated. Use os.tmpdir() instead.

fs.js:663
  return binding.open(pathModule.toNamespacedPath(path),
                 ^

Error: ENOENT: no such file or directory, open '/home/frank/.atom/packages/Sublime-Style-Column-Selection/package.json'
    at Object.fs.openSync (

[2017-12-18 08:17] xyw19870905 commented on #152
the same as me

[2017-12-18 17:41] dougxn commented on #152
ditto: atom 1.23.1 x64

[2017-12-19 16:25] garethallenstringer commented on #152
Similar to the issue I and others are experiencing at #151

[2017-12-19 17:10] Vertigoooo commented on #152
Same

[2017-12-19 20:31] TomJahncke opened #153 "Install is failing (ATOM version 1.23.1)"
Installing “Sublime-Style-Column-Selection@1.7.4” failed.Hide output…
fs.js:640
  return binding.open(pathModule._makeLong(path), stringToFlags(flags), mode);
                 ^

Error: ENOENT: no such file or directory, open '/Users/tjahncke/.atom/packages/Sublime-Style-Column-Selection/package.json'
    at Error (native)
    at Object.fs.openSync (fs.js:640:18)
    at Proxy.fs.readFileSync (fs.j

[2017-12-19 20:31] #153 closed

[2017-12-19 20:32] TomJahncke commented on #151
Same problem

[2017-12-20 03:28] Visero commented on #152
Use apm to install ''apm install sublime-style-column-selection'', can solve

[2017-12-26 07:15] #152 closed

[2017-12-27 12:22] nikolalkc commented on #151
I have the same problem

[2017-12-27 15:12] keyhan commented on #151
I had same problem, installed it manually and it works.

[2017-12-28 02:53] mnikogit commented on #151
OS window7 with the same problem!

[2017-12-28 06:33] binbjz commented on #151
+1 on mac pro

[2017-12-29 08:01] MR158 commented on #151
I solved the problem after installing nodejs and python

[2017-12-29 19:42] craftykate commented on #151
I had the same issue with the same error (on Mac OS 10.12.6) but installing with apm worked perfectly. `apm install sublime-style-column-selection`

[2017-12-30 19:11] gkrash commented on #151
not sure if this helps or not... but I found that:
`apm install sublime-style-column-selection` works fine, while
`apm install Sublime-Style-Column-Selection` failed with the error above (and fails for me in the app)

It *appears* that the issue is maybe in `package.json` - that's the only place I can see where that particular string is.  Hasn't been touched in a while, but maybe something changed

[2018-01-04 20:25] marcwiest commented on #151
Had the same problem ... then simply create the folder (Sublime-Style-Column-Selection) within /Users/username/.atom/packages and thereafter was able to install the package.

[2018-01-11 12:16] v1-hermit commented on #144
The author has been offline for a year.Does anyone know what's going on to him? I wonder if he's still breathing ,for fear that this tool would be deserted forever

[2018-01-18 14:54] bkeating commented on #149
I like it. More informative to have it than not, I'd say. A quick search leads me to this, which seems like it might shed some light on how to implement this: https://stackoverflow.com/a/44397967/352452

[2018-01-18 16:39] bkeating commented on #143
Using the latest version of macOS, Atom and this package, I cannot reproduce this.

What version of Atom? What Platform (cursor looks like Mac, but...)

[2018-01-20 22:53] jchook commented on #143
The problem also occurs for me on a brand new Linux box running Ubuntu 16.04 and on macOS High Sierra, both with latest Atom.

Steps to reproduce:

1. Open a file with a good number of lines
1. Hold sublime-select hotkey and the mouse button (on Linux it's Shift + L-Click)
1. Drag the mouse down to vertical select a bunch of lines
1. Drag the mouse left into the the gutter area or files area, then

[2018-01-27 05:38] lygao commented on #62
TypeError: Cannot read property 'eachEditorView' of undefined
    at Object.activate (/Users/liyuangao/.atom/packages/SublimeSelect/lib/sublime-select.coffee:6:34)
    at Package.module.exports.Package.activateNow (/Applications/Atom.app/Contents/Resources/app/src/package.js:253:25)
    at /Applications/Atom.app/Contents/Resources/app/src/package.js:225:38
    at Package.module.exports.Package.mea

[2018-01-29 10:08] Skeeve opened #154 "Feature request: Shift-Alt-Click to select box between Cursor and Mouse position"
Hi!

I think the topic already says it all.

I'm coming from jEdit where I find myself often to position the cursor at (e.g.) the very first character of a text and then scrollling down (using the scrollbar) to the bottom, clicking with Alt-Shift somewhere in the last line to select a block.

I have the feeiling this is sometimes (in big files) faster than selecting the block with just keyboard.

[2018-02-02 13:39] werunom opened #155 "Cursor jumping to above lines when selecting"
When I attempt to select a column of text by `ctrl+left-click`, the cursor jumps from the present line to some line above. Below is the gif for the same.

![jumping cursor](https://user-images.githubusercontent.com/24664855/35735920-536afa4a-084c-11e8-94fc-a631572712ef.gif)

The same thing happens even when I change the hotkey. Also, I had disabled most of the relevant installed packages while rep

[2018-02-03 02:55] werunom commented on #155
I did tried this with three kinds of scenarios. Below gif illustrates those three situations. Only in the last one, the cursor jumps without doing column selection.

![jumping cursors 2](https://user-images.githubusercontent.com/24664855/35762395-cedd2f30-08bb-11e8-9172-d5c23d335799.gif)

[2018-02-09 18:45] bkeating commented on #151
Neither `apm install sublime-style-column-selection` nor manually creating the dir `./atom/packages/Sublime-Style-Column-Selection` did it for me.

What worked was downloading this repo as a zip and unzipping to the manually created dir above.

I did not inspect the console--on the run, but thought I'd mention this hear to add to variations.

[2018-03-27 21:58] daeh commented on #155
same issue but cursor jumps to end of document. essentially makes the package unusable, which is such a shame as it's one of the functionalities that I use the most in sublime.

[2018-04-22 04:34] sogen commented on #119
For me it works if I select `ExpressKeys: **Default**` for `Application > All other`.
Did this for the four keys of my Intuos

![screen shot 2018-04-21 at 9 29 51 pm](https://user-images.githubusercontent.com/2784323/39091581-44aecabc-45ab-11e8-8a87-4bcd22df3c94.png)

[2018-04-24 07:28] v1-hermit commented on #155
@bigfive has not a single activity for more than a year already. Probably he's no longer the earth. Everyone we have to dissolve now, bye.

[2018-04-24 10:55] bigfive commented on #155
Hey. I've been a busy guy lately (2 kids under 5)

If you would like to contribute feel free, ill even give you (or anyone
else who is interested) write access to the repo if you would like to help
maintain the addon.

On 24 Apr. 2018 3:28 pm, "v1-hermit" <notifications@github.com> wrote:

@bigfive <https://github.com/bigfive> has not a single activity for more
than a year already. Probably he's n

[2018-05-05 14:59] snowcity-cn commented on #155
I'd like to help but I don't have the ability. Give the access to another one who can fix the problem please.

[2018-06-28 09:33] chris838 opened #157 "Not working on large files"
I have a large script that 600+ lines.
Column select stops working after line 648.
As soon as I try to drag a selection, the cursor jumps to line 648.

[2018-08-08 04:00] daeh commented on #155
thanks, @bencooling. I'm sad to lose option-click-drag multi-cursor looks like the best atom has to offer atm.

[2018-08-22 01:48] Creky opened #159 "Column selection not work"
Hi, I found this plugin can't work  recently. I try to disabled all Community Packages exception this plugin, and create a new .atom folder in user dictionary and reinstall this plugin. Column selection still not work.
ENV:
1.30.0-beta2 x64, window 10 64bit. and the latest stable version not work also.

[2018-09-20 20:46] andrei-elizaga commented on #155
@bigfive , I'm interested in looking for a fix to this.  Where do you think we should start checking?

[2018-09-28 04:58] snow212-cn commented on #155
@bigfive, you're **free** enough to be busy with this repo [ExMachina](https://github.com/bigfive/ExMachina), and would rather ignore [atom-sublime-select](https://github.com/bigfive/atom-sublime-select), even when here's someone instrested in it. You've been a real busy guy!

[2018-09-28 05:02] snow212-cn commented on #155
@bigfive, you're **free** enough to be busy with this repo [ExMachina](https://github.com/bigfive/ExMachina), and would rather ignore [atom-sublime-select](https://github.com/bigfive/atom-sublime-select), even when here's someone instrested in it. You've been a real busy guy!

[2018-09-28 07:09] bigfive commented on #155
^ found the stalker ;)

OK, consider me bullied into giving this a go.
I imagine its to do with how I'm converting the cursor position into line/character position. It obviously breaks when theres a long line above the place you are selecting and you have line wrapping on.
I'll see what I can do, maybe atom has recently added some helpful API functions I can use.

[2018-09-28 07:49] bigfive commented on #155
@werunom Ive just released a new patch for this. Let me know if it fixes the issue for you.
Thanks for your patience :)

[2018-09-28 07:49] #155 closed

[2018-09-28 07:50] bigfive commented on #122
@justinriddoch Ive just released a new patch for this. Let me know if it fixes the issue for you.
Thanks for your patience :)

[2018-09-28 07:50] #122 closed

[2018-09-28 07:52] bigfive commented on #157
Ive just released a new patch for a related issue to do with large files (or long lines). Let me know if version 1.7.5 fixes this issue for you

[2018-09-28 07:52] #157 closed

[2018-09-28 07:59] bigfive commented on #151
Sorry, I took a bit of a hiatus from maintaining this.

I cant seem to replicate this issue now, though I don't have access to some of the operating systems reported. Does anyone have the issue currently? You might be able to test it by uninstalling and reinstalling through the package manager

[2018-09-28 08:05] bigfive commented on #148
Hi, are you asking how you might go about creating a plugin that leaves any existing sections alone?

The line that replaces the selections is here
https://github.com/bigfive/atom-sublime-select/blob/master/lib/editor-handler.coffee#L133

I imagine you would want to read all the existing selection ranges on mouse down, then add those existing selection ranges to the new ones added during `_selectB

[2018-09-28 08:05] #147 closed

[2018-09-28 08:14] KevinNadaud commented on #122
Hi bigfive,
the patch works perfectly ! Nice job !

[2018-09-28 08:47] bigfive commented on #146
Oof, thats tricky.
I currently use the `editor.getDefaultCharWidth()` and use it to figure out how long the selection should be in order to support selecting beyond the current line length.

Heres my function
https://github.com/bigfive/atom-sublime-select/blob/v1.2.3/lib/sublime-select.coffee#L75

Heres atoms function that takes differing char widths into account (but doesn't allow selecting beyon

[2018-09-30 10:07] ghoetker commented on #151
I appear to have successfully installed in the interim.  Not sure how at this point, but all seems to be working.  MacOS. Thank you.

_______________________________________

Glenn Hoetker
Professor in Business Strategy

Melbourne Business School, University of Melbourne
200 Leicester Street, Carlton, Victoria 3053, Australia
Email: Glenn.Hoetker@mbs.edu<mailto:Glenn.Hoetker@mbs.edu>

[cid:image00

[2018-10-03 11:40] chris838 commented on #145
I'm seeing this same issue in at least markdown files, plus pretty sure I've noticed it in python files that are long enough.

[2018-10-03 11:42] chris838 commented on #145
Duplicate of https://github.com/bigfive/atom-sublime-select/issues/122

[2018-10-03 11:42] chris838 commented on #144
Duplicate of #122

[2018-10-05 16:44] alexchandel opened #160 "Column Selection selects the wrong characters and glitches the line highlighting"
## Replication ##

1. Type the following lines:

[code]

2. Use column selection to select the end of the first 4 lines, dragging from the top down **and ensuring you drag the selection rectangle well past the end of the lines.**  Like so:

![screen shot 2018-10-05 at 11 31 19 am](https://user-images.githubusercontent.com/637714/46547680-a1cebf00-c89a-11e8-8237-3ef6eb16ab93.png)

If done right, al

[2018-10-06 12:51] Nemesis7 commented on #160
I have the same problem here. Also when starting the selection I have to start 1 character to the left to select what I want.

[2018-10-09 14:21] #151 closed

[2018-10-12 17:56] DominikSerafin commented on #122
@bigfive this was the only major problem I had with this package. Seeing this package update was awesome in itself, but seeing that it fixes this problem was ecstatic for me haha. Thanks!!!

[2018-11-10 11:20] matthewgdv opened #161 "Feature Request: Mouseless selection with Alt+Shift+[arrow keys]"
Hi,

First off, thanks so much for this package, it's really helpful.

I couldn't help but notice though, that unlike similar functionality in Notepad++, SSMS, and other editors, this package won't allow you to use column selection with the arrow keys by holding down Shift alongside the trigger key (Alt be default).

It can sometimes be really convenient not to have to resort to the mouse for smal

[2019-01-25 22:58] jchook opened #162 "Last line has different selection threshold than Atom"
The last line in a column-select often misses the last character on the selection range.

![2019-01-25-175047_235x438](https://user-images.githubusercontent.com/193530/51777204-0de36600-20ca-11e9-8682-e09b9d6850b8.png)

It seems Atom counts a character selected when it reaches halfway through the character. See [this video](http://cloud.jchook.com/96c0188c9c98).

However, the final line of column

[2019-02-03 10:46] Tejeev commented on #8
Something like the common vim mode swapping maybe?  ctrl+shift+v perhaps?
Being able to block select with arrow keys rather than the mouse would be soooo nice!

[2019-02-14 15:45] snow212-cn commented on #160
Same problem to above. The author bigfive shows up and disappears repeatedly, so irresponsible.

[2019-04-30 17:16] sscirrus opened #163 "Not working on MacOS Sierra 10.12.6"
I installed atom-sublime-select on Atom as my only community package.

I tried to select using ALT and cursors, ALT and mouse.
Then I tried remapping it to my right mouse button.
Then I tried remapping from ALT to CTRL.
Then I tried uninstall -> restart Atom -> install -> restart Atom -> test. That doesn't work.

It's as if the package isn't installed at all.

[2019-05-05 19:45] alexchandel commented on #160
@bigfive Have you been able to reproduce this issue yourself?

[2019-05-10 17:45] thomas-gt commented on #125
Had same problem. Once installed with Sublime meta-package (0.5.0) each time I started Atom I was prompted for install. Reinstall did not help. Then I tried to install all underlying packages individually (ie without meta-package). Seems better now.

[2019-09-03 09:00] alanm101 opened #164 "Feature request: Column paste"
Love the package. Would be even better if it supports column paste as well.

e.g.

123456
789012
345678

Select columns 3&4 and copy to clipboard. Paste column on same lines in column 15 - result:

123456         34
789012         90
345678        56

[2019-09-03 11:08] alanm101 commented on #164
Oh bummer. Pardon the bad formatting. If the concept is not clear enough I will do a short video. SlickEdit had a good column copy/paste facility. Then it became unaffordable.

[2019-09-12 04:26] CFloy66-v12o opened #165 "won't install"
hey, it's been "installing" for 10 mins.

[2019-09-29 02:25] CaptClaude commented on #165
Ditto.

[2019-09-30 12:53] mocenigo opened #166 "When Atom is restarted, I need to switch tabs before columns selection works"
I am on macOS 10.14.

When I start Atom, initially column selection – press alt(option) and click, then drag – does not work, I just end up selecting text. But if I switch tab once, then I go back to the window here I wanted to edit, it starts working.

This is weird and I am not sure how to make columns selection work from the moment the editor is started.

[2019-09-30 13:00] mocenigo commented on #166
This seems to be issue #111 . Still present with v 1.7.5

[2019-09-30 13:00] mocenigo commented on #111
Still open. Issue #160 is a duplicate of this, I just realised.
Issue still present in v 1.7.5

[2019-10-10 07:46] madrussa opened #167 "Text buffer decorations causes ALT + LMB selections to start at wrong location"
When trying to select multiple lines within Atom with ALT + LMB, whilst there are text buffer decorations, the cursor starts on the wrong line. Depending on how many decorations are present depends on how far down the cursor starts.

![image](https://user-images.githubusercontent.com/1470257/66471050-9f410f80-ea82-11e9-99f1-b50d191d5723.png)
In the example above I started selecting from line 56, b

[2019-11-28 12:52] atipico commented on #125
Same here. I'm using Atom 1.41.0 x64 on a Ubuntu Studio 18.04.
Every time I start Atom it shows: "sublime needs to install dependencies sublime-style-column-selection Install dependency?"

[2019-11-28 12:55] atipico opened #168 ""sublime needs to install dependencies""
Same here. I'm using Atom 1.41.0 x64 on a Ubuntu Studio 18.04. The sublime-style-column-selection package version is 1.7.5.
Every time I start Atom it shows: "sublime needs to install dependencies sublime-style-column-selection Install dependency?"
This refers to https://github.com/bigfive/atom-sublime-select/issues/125

[2019-12-29 20:18] XCanG commented on #165
Same issue, can't install.

Windows 10 x64
Atom 1.42.0

[2020-01-29 14:11] asdf23 opened #169 "Installing is returning a 400 error"

[2020-01-30 23:22] Olshansk opened #170 "Update README to link to multi-cursor plugin?"
This plugin wasn't working for me macOS Catalina with atom 1.43.x.

The [multi-cursor](https://atom.io/packages/multi-cursor) plugin worked fine though, so I'm wondering if we should update the README as a potential alternative to the reader on mac?

[2020-02-06 21:54] ronnieunderhill opened #171 "Not downloading"

[2020-04-14 03:12] murrayvb0 commented on #167
I'd like to second this, the plugin breaks down completely whenever there is output displayed from a hydrogen cell.

[2020-04-27 15:15] naidoo88 commented on #161
Just wanted to add my voice to also really wanting this.  I find selecting with the mouse quite slow / clunky (this could just be me) and would absolutely love the arrow key functionality.

Ta!

[2020-05-17 04:51] blangston4495 opened #172 "install never completes"

[2020-05-17 05:00] blangston4495 commented on #172
never mind; sorry, looks like I got it

[2020-06-03 17:16] senderic opened #173 "Can't edit what I have selected"
Although I can select the area of interest, when I start typing or deleting, nothing happens...

I checked the settings, I don't see anything like that enabled.

Atom 1.47.0 x64 windows 10
package 1.7.5

[2020-06-05 11:03] morpc-gohio commented on #173
I'm experiencing the same issue. Hold Alt - drag to select - hit the Backspace. Nothing happens.

Atom version 1.47.0

[2020-06-05 11:06] morpc-gohio commented on #173
I changed the select key to Ctrl and it's working again. Switched back to Alt and experienced the issue. It seems to be a problem with binding to the Alt key.

[2020-06-23 00:57] chanomingue76 opened #174 "atom-subline-selection"
I try to install atom-subline-selection, it won't install.
i need help with it please.

[2020-07-08 15:50] trixomixolydian commented on #174
I have the same issue.  Has a resolution been discovered?

[2020-07-21 13:21] dprov commented on #173
I'm experiencing the same issue. (Atom 1.49.0, Sublime-Style-Column-Selection 1.75.5, using through remote desktop connexion)

It seems to be related to a loss of focus. When releasing the alt key, the focus indicator (vertical bar next to the filename in the tab, see images) turns grey. However, if I press/release alt again, the editor gains/loses focus again.

If I maintain alt while editing, it

[2020-07-21 16:43] ViliDan opened #175 "Installing sublime-style-column-selection"
I tried to install this package a few times, but it doesn't work. It just remains stuck at the install thing. the install button shows the work is in progress and that's it.
![Annotation 2020-07-21 194255](https://user-images.githubusercontent.com/66550748/88082469-7c539800-cb8a-11ea-9eec-fe2457343763.png)

[2020-07-22 13:06] piehld commented on #175
It's probably installed--just close and reopen your settings tab, click on "Packages," and see if you have the option to "Uninstall" it. If you do, it's installed. (Still a bug though in the installation process.)

Same issue has been reported and addressed multiple times in the previous bug reports, e.g.: https://github.com/bigfive/atom-sublime-select/issues/165#issuecomment-536241472

[2020-07-28 14:53] dprov commented on #173
Actually, pressing alt again after selecting with alt+mouse will toggle the focus on and off. The issue seems to be with the Alt key toggling menu bar selection.
A fix is to add this in keymap.cson

'.platform-win32, .platform-linux':
  'alt': 'abort!'

(Fix from : https://github.com/atom/atom/issues/6037#issuecomment-237102162 )

[2020-10-22 01:19] skub7722 opened #176 "install not launching"
when i click on install nothing happens... i get a message "Launching Atom...
If nothing happens, download Atom and try again."  I reloaded the page and still nothing happens.
I am logged into github too.

[2020-10-29 14:07] UziTech commented on #176
Go to the settings in Atom and install it that way. Your issue is with your browser not this package.

[2020-11-01 17:54] skub7722 commented on #176
Great! thanks

[2020-11-01 17:54] #176 closed, assigned to nobody

[2020-12-15 16:18] dittotb opened #177 "Stuck on install"
I have tried this in Atom 1.53.0 x64 on Windows 10 pro. The install just sits. I have so far left it for 1 hour. How much longer should it take?

[2020-12-15 16:51] #177 closed, assigned to nobody

[2021-03-19 18:58] FredGandt opened #178 "Feature request / Bug: ignore multiline template literal strings"
When working in JavaScript (for example); dragging through a template string's second, third etc. lines, a cursor should not be placed amongst them.

**Example code layout:**

            let foo = 3.142;
            let bar = `This template string
    has
    multiple lines';
            let baz = "And I'd like to drag a cursor in front of the two let declarations, " +
              "without affe

[2021-06-18 16:51] vansh4720 opened #180 "The following package isnt installing"

[2021-07-29 20:05] Torchtopher commented on #180
Same

[2021-08-09 11:11] simonc commented on #8
No activity in more than 2 years. I'll close this.

[2021-08-09 11:11] #8 closed

[2021-08-30 08:46] Yaro-Maro opened #181 "Deleted."
I can't seem to delete this, so I will close this issue and post one under correct label.

[2021-08-30 08:51] Yaro-Maro opened #182 "The "Alt" modifier key does not work, because Alt is bound to menu's."
Thank you for this extension, it is really useful and works very well (for me). Except for one issue, that I believe is an oversight and that more people will experience:

When you use the "Alt" modifier, it selects texts, but does not place any carets.

I believe this is because the "Alt" modifier, is linked to bringing up the menus. I know that, because when I use your extension and use "Alt" mo

[2021-08-30 08:52] #181 closed, assigned to nobody

[2021-10-29 14:17] paul724 commented on #175
same experience here - October 2021.
Waited several minutes for the Install button to stop cycling - which it didn't
However a restart of Atom and all OK - and really appreciate the functionality
thank you

[2021-11-12 06:24] #113 closed

[2021-12-10 23:46] asbestosbill commented on #173
This sent me on a search for a way to disable alt menu selection globally on Windows. If you use AutoHotkey, a simple `Alt::return` works to prevent it, while still allowing alt to be used as a modifier.

[2022-01-16 19:07] fedewenzel commented on #182
yes, that is a huge BUG

[2022-09-03 10:03] nsantosh007 opened #183 "installation is hanging"
I am trying to install atom-sublime-select, but installation is hanging.

[2022-10-09 00:19] dhuor opened #184 "Issue downloading Sublime-Style-Column-Selection"
Error reads: "Request for package information failed: Application error"

[2022-10-11 22:17] mauricioszabo commented on #184
Atom is sunsetting, so the servers are _really not working well_.

If you want, we have a new server on our Pulsar project: https://github.com/pulsar-edit.